[2020-07-28 03:22] junjie opened #1 "Unable to stop an alert sound from a notification"
In 20.1, we make use of `sound` property of `UNNotificationContent` to play alert sounds. The benefits are:

1. It respects System Preferences > Notifications > Due > Play sound for notifications setting.
2. It respects system Do Not Disturb (DND) setting
3. It respects System Preferences > Sound > Sound Effects > Alert volume setting

Compared with the older method of playing alert sounds manuall

[2020-07-28 03:23] honcheng commented on #1
https://stackoverflow.com/questions/25210120/is-it-possible-to-turn-on-off-do-not-disturb-for-os-x-programmatically/36385778#36385778

This link here seems to be about changing DND state, not reading it.

[2020-07-28 03:26] honcheng commented on #1
https://stackoverflow.com/questions/26311482/programmatically-check-state-of-do-not-disturb-on-os-x/39095105

And the suggested solutions here seem to required opting out of sandbox.

[2020-07-28 03:31] junjie commented on #1
One solution would be to revert back to the older `AVFoundation` method of playing alert sound. This would mean we need to find ways to address the advantages that using `UNNotification` to play alert sound can offer. Namely:

1. Respect System Preferences > Notifications > Due > Play sound for notifications setting.
2. Respect system Do Not Disturb (DND) setting
3. Respect System Preferences > So

[2020-07-28 04:11] honcheng commented on #1
https://stackoverflow.com/a/39095105

It's possible to read DND state from UserDefaults:

[code]

[code]
But this solution will only work if we remove 'App Sandbox' capability. But that will mean we can no longer distribute the app in the Mac App Store. In sandbox, it always return false.

[2020-07-28 04:18] junjie commented on #1
Ah, in that case, that is no longer workable. I think we can at least support a switch in Preferences for users who would like to continue using long alert sounds to fall back to using the `AVFoundation` method for playing alert sounds, with the trade-offs being that alert sounds cannot respect DND setting nor alert volume setting.

I'm thinking that switch can be somewhere here:

![CleanShot 2020

[2020-07-28 04:30] honcheng commented on #1
Let's go with that.

[2020-07-28 09:41] junjie opened #2 "Too easy to accidentally trigger docking to menu bar when positioning Due window on a smaller screen, with Show Icon in: Menu Bar enabled"
![Too Easy To Dock](https://user-images.githubusercontent.com/524420/88648438-91d04100-d0f9-11ea-985e-e3b5eeb2169a.gif)

On a smaller screen like a MacBook Pro, it can be easy to accidentally trigger the snap-and-dock mechanism to the menu bar icon.

We should look into the adjusting the threshold for snap-and-dock to menu bar.

[2020-07-28 09:46] junjie opened #3 "Visual glitch in menu bar docking arrow"
![Dock-Arrow](https://user-images.githubusercontent.com/524420/88648831-effd2400-d0f9-11ea-8fac-c6c059037b5f.gif)

Sometimes, the entire Due window appears off-centred from the menu bar icon, leaving a black portion to the arrow pointing to the menu bar icon.

I don't have solid repro steps now, though it happened while I was switching between system languages taking screenshots.

[2020-07-28 09:48] junjie opened #4 "Due date field of editor not made first responder when editor is presented by clicking on notification. Return key does not save. Escape key does not dismiss."

[2020-07-28 09:49] #4 closed, assigned to honcheng

[2020-07-28 12:07] junjie opened #5 "Default parsing result for day-of-the-week + time is not ideal"
![Bug parsing day of week with time](https://user-images.githubusercontent.com/524420/88663400-1f1d9080-d10e-11ea-87fb-6bfaa3ed157c.gif)

Current time is 8 PM, 28 July, Tuesday when I tried this.

I wanted to postpone this reminder to Thursday 8 AM. Unfortunately when I added "8 AM" behind, the first result was Tomorrow 8 AM (29 Jul, Wednesday) instead of Thursday 8 AM.

[2020-07-28 13:37] junjie opened #6 "Investigate EXC_BAD_INSTRUCTION crash when navigating to Timers page"
Detailed logs, database and diagnostic footer in private tracker to protect user information.

[2020-07-28 14:47] junjie opened #7 "Show Preferences icon in side bar when Show icon in: Menu Bar Only"
https://twitter.com/tarrkid/status/1288108129989931009

Currently we show the settings cog when the app is docked to the menu bar. However, it appears that many have switched Show Icon In: to Menu Bar Only, without attaching Due to the menu bar icon.

This means they have no way to access menu bar Due > Preferences to switch it back.

I suggest we always show the settings cog whenever the user is

[2020-07-28 14:54] junjie opened #8 "Parse 24-hour time without colon (e.g. 1100 instead of 11:00)"
https://twitter.com/bjkirton/status/1288103623503646721:

[2020-07-28 17:15] tedmiston opened #9 "How to downgrade to previous version?"
Hi -

I appreciate the dev effort in revitalizing the macOS app, but the bright purple and very opinionated themes and subscription pass screens everywhere are not for me.

I would like to just continue using the simpler original Due app version that I purchased previously; however the MAS automatically upgraded me to this new version.

Where can we find the previous version to downgrade?

[2020-07-29 00:15] junjie commented on #6
Found cause of crash. App will crash if database contains timer without a title. Moving milestone to 20.2.

[2020-07-29 01:23] junjie commented on #9
Hi,

The App Store does not support rolling back updates. As Due is exclusively distributed through the App Store at the moment, I'm afraid there's no way to downgrade to an older version.

[2020-07-29 01:23] #9 closed, assigned to nobody

[2020-07-29 01:30] junjie opened #10 "Explore a more monochromatic light theme"
While many users liked the colour schemes included, some users thought they were too opinionated. I think the darker themes are fine for now, perhaps we could explore a more monochromatic light theme, Vanilla Lilac without the purple accent. #9

[2020-07-29 01:43] junjie opened #11 "Support right-clicking on menu bar icon to open menu"
It seems like that's one of the ways users are trying to get to Preferences again. So this, in addition to #7 should help

[2020-07-29 01:50] junjie commented on #6
@honcheng: I've fixed this, but can we check to see if a nil `label` crashes Reminders/Logbook too?

[2020-07-29 03:18] bluecursor opened #12 "Icons in sidebar overlaps when docked, and the window height is short"
When Docked, menu overlaps, When undocked, setting option disappears.
I have also seen a caution icon overlap as well...

<img width="488" alt="Screen Shot 2020-07-28 at 11 15 22 PM" src="https://user-images.githubusercontent.com/31462938/88752736-a677fd80-d128-11ea-83d3-a6e01249660c.png">
<img width="521" alt="Screen Shot 2020-07-28 at 11 15 33 PM" src="https://user-images.githubusercontent.com/3

[2020-07-29 03:23] junjie commented on #12
Thanks for reporting the issue @bluecursor. @honcheng, do we not have a minimum height for this?

[2020-07-29 03:25] junjie opened #13 "Shortcut to toggle Show/Hide window should actually hide Due app like Cmd-H does, making the next app active"
https://twitter.com/_jacobsa_/status/1288302830843912192:

It seems like the shortcut to Show/Hide window only hides Due window, but not the app itself.

Let's see if this can make 20.2? If not, 20.3

[2020-07-29 03:26] junjie commented on #13
Workaround: Use Cmd-H to hide window for now.

[2020-07-29 03:35] honcheng commented on #7
Oops. Overlooked this.
It is fixed now. Will be available in the 20.2 update.

[2020-07-29 03:35] #7 closed, assigned to honcheng

[2020-07-29 04:27] junjie opened #14 "Add nullability annotations to Reminder class to prevent unwrapping crashes"
@honcheng: I've fixed this, but can we check to see if a nil `label` crashes Reminders/Logbook too?

_Originally posted by @junjie in https://github.com/dueapp/Due-macOS/issues/6#issuecomment-665383745_

[2020-07-29 04:29] honcheng commented on #13
The fix will be available in 20.2. It will toggle app visibility instead of window visibility in that update.
Tapping on the menu bar icon will also do the same.

[2020-07-29 04:29] #13 closed, assigned to honcheng

[2020-07-29 04:31] sortofworks commented on #9
I find the update a bit of a mixed bag.

I'm really glad to see there being development on the mac app again, thanks!

Junjie, as you mention on your blog (?), the old UI looked dated. But that was the only negative in my mind. It was clean and not visually distracting, quick to load and navigate.

Anyone who liked the "un-distracting" UI of the old app is now _forced_ to pay for an upgrade to get

[2020-07-29 04:46] honcheng commented on #11
This will be added to the next update, 20.2

[2020-07-29 04:46] #11 closed, assigned to honcheng

[2020-07-29 05:14] junjie commented on #8
https://twitter.com/_jacobsa_/status/1288316635200147456:

[2020-07-29 05:18] junjie commented on #8
@honcheng: One idea to try could be to run a regex for `(\d\d)(\d\d)`, manually inserting a colon in between `\1` and `\2` before feeding it to the parser. It could potentially break existing parsing, so any change would need further testing.

[2020-07-29 05:27] sortofworks opened #15 "Suggestion: Update the popup behaviour triggered when doing due:///add?title="
There's a difference in behaviour between the old and new app when using `due:///add?title=`. I propose bringing back the old behaviour, as it requires fewer and easier keyboard usage.

#### After triggering Due with `due:///add?title=Remind me to X in 2 hours`

**Old behaviour**
1. Due App is opened
1.  _'in 2 hours'_  is selected _and_ this time is now detected already automatically set in Due
1

[2020-07-29 05:30] honcheng commented on #2
This has been tweaked, and will be included in the next 20.2 update.

[2020-07-29 05:30] #2 closed, assigned to honcheng

[2020-07-29 05:43] honcheng commented on #12
Yes we do. In certain scenario, the minimum height was not respected.
This is not fixed, and will be available in the next update, 20.2

[2020-07-29 05:43] #12 closed, assigned to honcheng

[2020-07-29 05:49] junjie commented on #6
Fixed in 20.2.

[2020-07-29 06:00] junjie commented on #12
Looking at the screenshot, the window seems to go much shorter than mine. Is there a special reason why?

[2020-07-29 06:04] honcheng commented on #12
Aside from minimum window height for the app, there was also a preferred minimum height difference with the screen size when docked, so that the docked window won't be too close to the bottom of the screen. I have reduced the height difference requirement, and also make minimum window height a priority over this.

[2020-07-29 06:08] junjie commented on #15
Thanks for the request and suggestion @andynil.

@honcheng we may need to rerun the checks on whether to display the popover at the caret in this scenario.That said, I do notice that in some languages a parseable date can be at the front, or in the middle of a string.  In such a case this would not work well for these languages either.

A possible solution could be to expand the [URL scheme](https

[2020-07-29 07:48] junjie opened #16 "Unable to use Fn keys as shortcut to Show/Hide Due"

[2020-07-29 10:10] junjie commented on #6
This is crashing the app on editing a timer with nil label too. We really need #14 soon.

[2020-07-29 11:56] junjie opened #17 "Return key in timer editor creates new line instead of triggering the default button (Save)"
It should attempt to save if the save button is button is enabled (i.e. hrs, mins, secs is not 0).

If not, perhaps we should make hrs first responder?

[2020-07-29 12:40] honcheng commented on #17
This is fixed in 20.2, next update.

If there are changes and changes can be saved (countdown is not 0), return key will save it.
Else it will make hrs the first responder.

[2020-07-29 12:40] #17 closed, assigned to honcheng

[2020-07-29 12:55] junjie commented on #6
This is fixed for now.

[2020-07-29 12:55] #6 closed, assigned to honcheng

[2020-07-29 12:56] honcheng opened #18 "Reminder rows with wrong height if multiple reminders have the same title but different recurrence options"
<img width="451" alt="Screenshot 2020-07-29 at 8 53 36 PM" src="https://user-images.githubusercontent.com/208827/88802614-e351fc00-d1dd-11ea-9ecd-06f33c0c85d0.png">

[2020-07-29 13:03] junjie opened #19 "Opt-Right Arrow should bring up the context menu for the selected timer too"
Just like it does for reminders.

[2020-07-29 13:37] junjie opened #20 "Investigate if it's possible for upgrade pass demo banner to show for user who had updated their app with Show Icon In: Menu Bar Only"
https://twitter.com/jaime_jsola/status/1288421080189804544:

[2020-07-29 18:23] tedmiston commented on #10
Thank you for adding this.  I really like how minimal the iOS app light and black themes are right now.  If we could have something similar for the macOS app or even a way to tweak color codes like Slack that would be awesome.

[2020-07-29 20:51] change02 opened #21 "Bug: Save button disabled when selecting a default repeat"
### Repo steps:
1. Create a reminder
2. Open the reminder and change the Repeat to one of the default choices (i.e. not custom)

**Expected:** Save button is active
**Actual:** Save button is still disabled.

Changing any of the other options seems to work fine.

[2020-07-30 01:04] jacobsa commented on #8
For what it's worth, this used to work before the update. That's what I meant about my muscle memory in the comment above: I keep getting this wrong because I'm used to not needing a colon. I assume it's particularly annoying for pilots, but not sure how important a market segment that is for you. :-)

[2020-07-30 01:44] honcheng commented on #18
Will be fixed in 20.3 update

[2020-07-30 01:44] #18 closed, assigned to honcheng

[2020-07-30 01:45] honcheng commented on #16
Fix will be out in 20.3 update

[2020-07-30 01:45] #16 closed, assigned to honcheng

[2020-07-30 02:06] honcheng commented on #19
Fix will be release with update 20.3

[2020-07-30 02:06] #19 closed, assigned to honcheng

[2020-07-30 02:14] honcheng commented on #20
I've checked. Upgrade pass banner is not linked to the **Show icon in** option.

But in 20.1, docking to menu bar is too sensitive, and it was easy to accidentally dock the app, causing the banner to be shown. User may not have realised that docking have happened. Changing the option to **Dock only** forces undocking from menu bar, and hide the banner. The issue with accidental docking is addresse

[2020-07-30 04:24] honcheng commented on #8
I'm using `([0-1][0-9]|2[0-4])[0-5][0-9]` and it's working out well.

There are 2 locations where text are parsed to dates. In the due date text field, supporting this should not be an issue. It is more tricky in the title view, where we have to parsed the replaced text, but underline the original non-replaced text.

[2020-07-30 04:49] junjie commented on #8
I think we need to go with `\b([0-1][0-9]|2[0-3])[0-5][0-9]\b`

There are 60*24 = 1,440 possible minutes, and it should match 1,440 times in a list from 0000-10000.

The result is here: https://regexr.com/59asp

The regex in your post would match 1501 times, because it matches 2400-2459. It also matches 0000 in 10000, so we need the word boundaries `\b`.

[2020-07-30 04:59] junjie commented on #8
![Screenshot 2020-07-30 at 12 57 19 PM](https://user-images.githubusercontent.com/524420/88882386-69b12100-d264-11ea-8761-87cab123f175.png)

@jacobsa: The issue here is that the older version had 2 fields, one for date and one for time. It's relatively easy to assume that whatever you've keyed into the time field can be parsed as a time, even just "13" can be interpreted as 13:00.

[2020-07-30 05:02] jacobsa commented on #8
Right, I see. Personally I was totally fine with two fields.

[2020-07-30 05:03] junjie commented on #21
Thanks for filing the report @change02

I can't seem to reproduce this. Am I doing it right?

![CleanShot 2020-07-30 at 13 01 08](https://user-images.githubusercontent.com/524420/88882594-e643ff80-d264-11ea-8562-58dc6de64195.gif)

[2020-07-30 05:09] junjie commented on #20
Ok let's close this for now. We've only had one report so far.

[2020-07-30 05:09] #20 closed, assigned to honcheng

[2020-07-30 06:10] junjie commented on #9
Thanks, now that the overhauled app is shipped, we're happy to be able to work on more frequent updates for the Mac too. (The old code was so unwieldy we have trouble getting it to compile on modern Xcode.)

We've approached this redesign and overhaul in a manner that we felt was best for the app, just as we had when I made the first version.

It was certainly not our goal to make a version that w

[2020-07-30 06:46] jjlharrison commented on #8
I am a new user of the Mac app (been using the iOS app for years though) and this has been the only annoyance I’ve had really. I’m not a pilot, but I do often write times in this format. I appreciate the complexity, but I’d love it if this could be fixed.

[2020-07-30 06:50] junjie commented on #1
My suggestion for the wordings of this option:

**Checkbox title:** Play alert sounds using Due (instead of macOS)

Whenever the checkbox is checked, it should display a prompt:

**Playing alert sounds using Due can allow you to stop them whenever you click on a notification**
A bug in macOS prevents notification alert sounds from being stopped. However, because Due cannot determine your Do Not Di

[2020-07-30 06:59] junjie commented on #1
2nd attempt at the prompt:

**You can stop alert sounds played using Due, but alerts will sound even if Do Not Disturb is enabled.**
This setting can work around a bug in macOS that prevents notification alert sounds from being stopped. However, Due is unable to determine your Do Not Disturb setting, and will always play alert sounds.

[2020-07-30 07:02] junjie commented on #1
Still kind of verbose, but let's try it and see how it looks?

[2020-07-30 07:15] honcheng commented on #8
<img width="526" alt="Screenshot 2020-07-30 at 3 09 49 PM" src="https://user-images.githubusercontent.com/208827/88892028-bb62a700-d276-11ea-8895-e5f7000cad83.png">

Some progress. This part is more straight forward. We are showing results of text that have been changed to include colon.

The parser can't tell AM/PM from 0100 to 1200 and just assumes the next nearest occurrence. But time after 130

[2020-07-30 07:19] junjie opened #22 "Add 'Public Issue Tracker…' to Help menu"
![CleanShot 2020-07-30 at 15 16 50@2x](https://user-images.githubusercontent.com/524420/88892689-ce29ab80-d277-11ea-9fb9-b61a752389dd.png)

Text: Public Issue Tracker…
Opens URL to: https://github.com/dueapp/Due-macOS

Will need localization, so leave this open until it's completed.

[2020-07-30 07:27] junjie commented on #8
Thanks! As I understand, 0000-1159 is unambiguously AM in 24-hour speak. One solution to address the issue is as you've suggested, feeding in AM to the parser.

But I feel like we're fighting the parser this way. Another way is to write a custom 24-hour parser that has a go at these times. I think we can have better and more consistent result parsing 4 digits than trying to wring the existing pars

[2020-07-30 07:38] junjie commented on #1
Earlier we also spoke about using Accessibility API to detect state of DND. This is not very ideal because it requires the user to manually give access to Due in System Preferences > Security & Privacy > Privacy > Accessibility. Also, you mentioned the API seems to be limited to just [toggling](https://stackoverflow.com/a/36385778/401329), instead of detecting DND state.

I'm not familiar with the

[2020-07-30 08:14] junjie opened #23 "Parsing overdue times today can lead to result next year"
![CleanShot 2020-07-30 at 16 13 18@2x](https://user-images.githubusercontent.com/524420/88898708-b3f3cb80-d27f-11ea-8fa6-e694a9fc1962.png)

[2020-07-30 08:22] junjie commented on #23
The dedicated date field also has similar issue:

![CleanShot 2020-07-30 at 16 17 02@2x](https://user-images.githubusercontent.com/524420/88899017-2369bb00-d280-11ea-95ed-a65e4b8c9727.png)

In this case, the user explicitly wants to set an overdue reminder. Perhaps we can just offer that as an option, instead of correcting it aggressively such that it is not overdue, at least in the dedicated date

[2020-07-30 15:31] junjie opened #24 "Move Show Reminders/Timers/Logbook from View menu to Windows menu"
Our 20.2 build was rejected for screenshots and this issue:

I asked the reviewer if they could proceed to approve the critical bug fix as we work on this, since this already existed. Reviewer seemed to say they're ok to proceed if we remove the last screenshot. We'll see.

Anyway, upon re-examining the macOS HIG, it seems like we could have placed Show Reminders/Timers/Logbook items in the wrong

[2020-07-30 15:34] junjie commented on #24
@honcheng, please review code in commit to see if the code checking for visibility, and the code to show window, is appropriate for docked and undocked. Thanks!

[2020-07-30 15:47] junjie opened #25 "Add new items for View menu"
The fix from #24 leaves View menu empty. Instead of removing it completely, let's add specific items that "lets the user customize the appearance of an app’s windows" per HIG.

I think we can go with:

Increase Text Size
Decrease Text Size
\---
Theme
    - Vanilla Lilac
    - Slate Dark
    - Pure Black
    - Lavender

For Theme:

1. We're not providing 'Automatic Theme Switching' over here
2. We

[2020-07-30 17:17] change02 commented on #21
Looks like you also have to initially create the reminder for the future.

![ezgif-6-b6ae63ef044c](https://user-images.githubusercontent.com/59711239/88953517-e8e72a80-d24d-11ea-8809-068bc25eff8a.gif)

BTW - I just reinstalled Due before recording this just in case.

[2020-07-30 18:19] tedmiston commented on #10
On a related note, if you do implement the custom themes like Slack does, it would be nice to be able to change the font face and font style of the headers.  For me "Overdue", "Today", etc feel huge right now vs I'd prefer they were more subtle, smaller, and faded into the background to focus on todos instead.

[2020-07-30 18:52] tedmiston commented on #9
Hi @junjie - This is a really tricky situation.  As a customer I am really disappointed by this response.

I bought a product, the product was changed abruptly overnight without warning after ~3? years of being stable and the same.  Functionality was removed and large ads for subscription banners are now presented.

According to your response, I can no longer run the version that I permanently pur

[2020-07-30 19:06] jjlharrison commented on #9
@tedmiston: You have purchased the app from Apple, not the developer. It is also Apple that are responsible for not allowing access to older versions. With regard to terms, the sale of the app is also sold under the terms of the App Store. The developer is unable to offer refunds, you'd need to take it up with Apple.

[2020-07-31 00:36] junjie commented on #24
This was rushed into 20.2 after a long night of back-and-forth. But please check the above anyway, thanks

[2020-07-31 00:58] junjie opened #26 "New App Store screenshot to highlight sync feature"
The old one was rejected for not showing functionality in the app, and being "mainly marketing".

[2020-07-31 03:44] junjie commented on #21
Thank you for this. Yes it seems like I can reproduce this when editing an existing timer that is in the future. They don't seem to affect overdue reminders.

[2020-07-31 04:11] junjie commented on #9
@tedmiston I disagree that the update has taken away functionality or access to your previously purchased software, or whether the app should be a new app, etc. We can argue about it, but I sense from your messages that this will get us no where. As mentioned by James, developers do not handle your payments on the App Store. Apple does not provide us with any data of our customers. If you'd like y

[2020-07-31 08:23] junjie opened #27 "Up/down arrow keys to increment/decrement timer field"
User request:

[2020-07-31 08:25] junjie opened #28 "Window size and position not saved and restored when quit and relaunched"
The window size and position of Due does not seemed to be saved nor restored. To reproduce, resize and reposition window before quitting. Then relaunch the app. Sometimes it seems to work, but most of the time it doesn't.

[2020-07-31 08:49] junjie commented on #1
3rd attempt:

**Do you want to play alert sounds using Due?**
This works around a system bug, allowing you to stop alert sounds when you click on a notification. However, because of system limitations, Due will play alert sounds even if Do Not Disturb is enabled.

[Don't Use] [Use Due To Play Sounds]

[2020-07-31 12:03] sortofworks commented on #9
@junjie I'm sorry, I don't believe that, and it certainly wasn't my intention to sound like you were trying to force customers to pay for an upgrade. I understand that the app is in a much better place today with the underpinnings restructured and rebuilt to enable you to move faster with updates in the future. I would have made the same decision.

[2020-07-31 19:44] augmentedfourth opened #29 "Keyboard shortcuts to postpone by 10 mins/1 hour/1 day don't work in editor"
Perhaps related to changes for #4

In the old version of Due for Mac, I often clicked on a notification and, once the app came up with the reminder highlighted, used command-equals or command-shift-equals to snooze a different duration than the default auto snooze.

In the new version, clicking the notification title brings you to the editing interface for the reminder, with the cursor on the Due

[2020-07-31 19:52] augmentedfourth commented on #29
To be clear, this happens on both "Reminder due" and "Reminder snoozed" notifications.

[2020-07-31 19:55] augmentedfourth opened #30 ""Reminder snoozed" notifications do not bring you to an active editing interface"
If the Due window is active (either as a menu bar dropdown or just on the desktop somewhere), and you click on the title of a reminder notification, the reminder shows up with the Edit pane, but no field is selected/editable. The tab key doesn't start cycling through editable fields or bring focus to any fields.

[2020-07-31 19:55] augmentedfourth opened #31 ""Reminder due" notifications do not fire"

[2020-07-31 20:00] augmentedfourth commented on #30
Actually, this seems to happen whether the Due window is active or not.

[2020-07-31 20:16] augmentedfourth commented on #31
Huh. I upgraded to 20.2, and now "Reminder due" notifications don't seem to be firing at all.

[2020-07-31 20:16] augmentedfourth commented on #30
OK. This was fixed in 20.2

[2020-07-31 20:16] #30 closed, assigned to nobody

[2020-07-31 20:32] augmentedfourth commented on #29
I guess I can get around this by hitting Escape and *then* command-equals, but I'm not 100% sure that the notification that fired the alarm will always be the one selected/active when the app interface comes up. I'm pretty sure I've seen it come up with a different reminder selected at least once, but I can't seem to reproduce the conditions (and that may have been prior to my upgrade to 20.2).

[2020-08-01 06:41] JonathanAquino commented on #1
IMO this text is misleading because it sounds like if you turn it off, then no alert sounds will happen.

How about:

**Stop alert sounds when you click on a notification?**
This works around a system bug in which alert sounds continue to play after you click on a notification, which can be annoying for long alert sounds. However, because of system limitations, Due will play alert sounds even if D

[2020-08-01 11:05] honcheng commented on #8
<img width="526" alt="Screenshot 2020-07-30 at 3 16 10 PM" src="https://user-images.githubusercontent.com/208827/89100462-b560f780-d429-11ea-8eb1-a75d05faba8a.png">

This is more tricky. The typed text is 1800, but the parsed text is 18:00 after inserting colon. But after parsing, I converted the detected range of the new text back to the original text. This is a more straightforward scenario. The

[2020-08-01 11:10] honcheng commented on #24
All good

[2020-08-01 11:10] #24 closed, assigned to honcheng, junjie

[2020-08-01 11:33] honcheng commented on #21
@change02 thanks for the detailed report. I'm able to replicate this bug, and it is fixed in 20.3, the next update.

[2020-08-01 11:33] #21 closed, assigned to honcheng

[2020-08-01 11:33] honcheng commented on #27
That's a great suggestion.

[2020-08-01 12:06] honcheng commented on #27
@junjie once the value reaches the maximum value for the field, we should increase the next value by 1. For example, pressing up at 01m59s when cursor is at seconds should change the value to 02m00s, but still keeping the cursor at seconds.

[2020-08-02 10:35] honcheng commented on #15
That should not be an issue. If parseable date and the caret are at the end of the text, then it's a bug that the popup does not appear.

Just to clarify this, if we try to move the caret to the position of the parseable date when the parseable date is not at the end of the text, it will most likely mess with the users' workflow. Do you think so?

Ok. We can try that.

[2020-08-02 17:04] rzadp commented on #23
This can happen even if the user does not intend to set an overdue reminder.

For example here I want to set something for today, I didn't decide on a time yet:

<img width="407" alt="Screenshot 2020-08-02 at 18 55 09" src="https://user-images.githubusercontent.com/12039224/89127930-00ded880-d4f2-11ea-9b79-97a473b6b206.png">

The problem happens if it is past noon because `today` gets parsed into

[2020-08-03 02:43] junjie commented on #31
Hi @augmentedfourth, is it still happening for you? So snooze is working, but when a reminder becomes due you're not getting notifications?

What are your settings in Due > Preferences > Notifications  > Reminder due?

And a timer due fires notifications properly?

[2020-08-03 02:53] junjie commented on #29
Thanks for the feedback @augmentedfourth. The idea behind this was to focus on the parsing date field so you can type precisely the date you want to postpone to, or the relative amount of time you want to postpone by.

But supporting the postponing shortcuts (Cmd-=, Cmd-Shift-=, Cmd-Opt-Shift-=) sounds like something we should do too.

I'm not too sure about auto-dismissing the editor after the ke

[2020-08-03 02:55] junjie opened #32 "Offer a way to skip the this/all future occurrence prompt when postponing a reminder"
_Originally posted by @junjie in https://github.com/dueapp/Due-macOS/issues/29#issuecomment-667776006_

[2020-08-03 03:02] honcheng commented on #28
Yes there was problem saving the position and size. Fixed in 20.3

[2020-08-03 03:02] #28 closed, assigned to honcheng

[2020-08-03 03:17] junjie commented on #1
Thanks @JonathanAquino. Re-reading this, I like your suggestion "Stop alert sounds when you click on a notification?". However I like it more for the checkbox rather than the alert prompt.

My current suggestion for the checkbox ("Play alert sounds using Due (instead of macOS)") doesn't tell people why they'd want to enable that. But if we use what you've suggested for the alert title in the check

[2020-08-03 04:17] augmentedfourth commented on #31
Huh. It all seems to work now. I'm pretty sure I restarted my laptop since firing the bug report, so maybe a fresh app session is what did it?

[2020-08-03 04:22] honcheng commented on #22
@junjie this is done, but pending localisation

[2020-08-03 04:23] honcheng commented on #27
Done, and will be out in 20.3

[2020-08-03 04:23] #27 closed, assigned to honcheng

[2020-08-03 04:23] honcheng opened #33 "Support 'parse' as a key in URL scheme to add reminder"
Thanks for the request and suggestion @andynil.

@honcheng we may need to rerun the checks on whether to display the popover at the caret in this scenario.That said, I do notice that in some languages a parseable date can be at the front, or in the middle of a string.  In such a case this would not work well for these languages either.

A possible solution could be to expand the [URL scheme](https

[2020-08-03 04:29] augmentedfourth commented on #31
Aha. It seems that the problem is when I use the "Due date" field to postpone a reminder... maybe related to clickingg on the notification as well? After manually choosing an "in 1 minute" postponement, the reminder due alert doesn't trigger.

[2020-08-03 04:29] augmentedfourth commented on #29
Closing the editor but making sure focus stays on the task will allow you to continue postponing with the shortcut. But, right now, it doesn't seem that the firing alert is always the one that's selected in the interface after you click on the notification.

It doesn't seem that the selection/focus is even on the due date consistently when clicking the notification. It looks like the cursor starte

[2020-08-03 05:05] JonathanAquino commented on #1
Sounds good.

[2020-08-03 05:53] junjie commented on #29
@augmentedfourth If clicking on notification doesn't open the correct reminder, then it's a bug that needs to be addressed separately. We haven't encounter that so far so we'd need more concrete steps to reproduce the issue for us to be able to diagnose the problem. If you have more info for us to reproduce the problem, do let us know.

I think you're right about the postponing shortcut behaviour

[2020-08-03 05:56] junjie opened #34 "Parse and auto-complete short forms of relative date and time (5m, 1d, etc.) in due date field"
It would be nice if "in 5m" or even "5m" were parsed. "in 5 minutes" is a little wordy, and not a quick keyboard entry.

_Originally posted by @augmentedfourth in https://github.com/dueapp/Due-macOS/issues/29#issuecomment-667796407_

In fact we should offer suggestions and auto completion for all forms of relative date and time in the due date field

[2020-08-03 06:03] junjie opened #35 "If timer is showing search results, switching away from Timers and back shows the wrong countdown for it"
1. List showing all reminders:
![CleanShot 2020-08-03 at 14 02 01@2x](https://user-images.githubusercontent.com/524420/89150787-ee1be080-d591-11ea-8215-59d26eb7fe54.png)

2. Search for "triage":
![CleanShot 2020-08-03 at 14 02 08@2x](https://user-images.githubusercontent.com/524420/89150792-f2e09480-d591-11ea-8ff5-ad2f7ffa9b01.png)

3. Switch away and back to timers:
![CleanShot 2020-08-03 at 14 0

[2020-08-03 06:05] junjie opened #36 "Active timers don't update its countdown display in search results"
From #35, an active timer does not countdown when view is displaying search results:

@honcheng Not sure if #35 and this can be fixed by 20.3, let me know. If not, let's push it to 20.4

[2020-08-03 06:26] junjie commented on #25
Localization completed.

[2020-08-03 07:02] junjie commented on #29
@honcheng I just thought about the scenario where the user has already made changes in the editor. In this case, if we just dismiss the editor, they'll lose the changes. If we dismiss the editor and the prompt to save/discard comes up, that's also annoying.

One way is to disable the postponing shortcuts if editor has unsaved changes. Another way is to handle these shortcuts differently, such that

[2020-08-03 07:03] honcheng commented on #25
This is done, and will be out in 20.3

[2020-08-03 07:03] #25 closed, assigned to honcheng

[2020-08-03 07:51] honcheng commented on #15
The bug with existing popup menu not displayed when editor is opened with due:/// is now fixed, and will be out in 20.3.

This other solution will be explored in future updates. #33

[2020-08-03 08:17] honcheng commented on #1
<img width="620" alt="Screenshot 2020-08-03 at 4 17 23 PM" src="https://user-images.githubusercontent.com/208827/89161189-db5ed700-d5a4-11ea-8701-aa37e0bd82b6.png">

[2020-08-03 08:37] junjie commented on #8
This would need more testing to ensure that it doesn't break existing changes. We'll be including the changes in 20.3, but it must be enabled with the following command in Terminal.app:

`defaults write com.phocusllp.duemac prefBoolParsesMilitaryTime -bool YES`

for the behaviour to kick in. Once it is stable, we'll roll it out for 20.4.

[2020-08-03 08:40] junjie commented on #22
Still waiting for localized strings

[2020-08-03 08:44] junjie commented on #15
@honcheng turning on `prefBoolParsesMilitaryTime` in #8 seems to regress this fix.

I used: due://x-callback-url/add?title=Remind%20me%20to%20X%20in%202%20hours and in 2 hours was not highlighted.

Turning off `prefBoolParsesMilitaryTime` made it work.

[2020-08-03 08:46] junjie commented on #8
@honcheng: The changes appears to have affected relative date parsing. All relative dates are no longer parsed when this is enabled.

![CleanShot 2020-08-03 at 16 45 59@2x](https://user-images.githubusercontent.com/524420/89163841-d1d76e00-d5a8-11ea-89bb-4bbc2a570f16.png)

[2020-08-03 08:51] junjie opened #37 "Reminder menu not disabled when editor for new item is present; only partially disabled when editing existing item"
The reminder menu should have been disabled when editor is present. (However, this may no longer be true with changes in #29)

This is partially true for editing an existing reminder:

![CleanShot 2020-08-03 at 16 47 22@2x](https://user-images.githubusercontent.com/524420/89164106-385c8c00-d5a9-11ea-836e-fb725bebe5a4.png)

Noticed that auto snooze menu is not disabled.

The menu is not disabled at

[2020-08-03 08:58] junjie opened #38 "Cmd-Delete not working to Discard Changes in editor"
Appears to have regressed from an earlier issue in private tracker.

Do check both Reminder and Timer editor.

[2020-08-03 13:24] augmentedfourth commented on #29
I've never seen it open the edit window on the wrong reminder. However, the highlighted/selected reminder is not always the same as the one with the edit window open. I've clicked on a notification and seen the correct edit window, but if I hit escape to dismiss that window, the recently-notified reminder isn't always the one that's highlighted/selected. I can't figure out the exact circumstances

[2020-08-04 01:40] junjie opened #39 "Hide Due window on "Open at login""
Some users would like Due to launch at login, but for the window to not appear upon launching at login. This could either:

1. require an additional option underneath Open at login to configure if this window should be hidden
2. make this the default behaviour for open at login

I'm inclined more towards (2).

[2020-08-04 01:42] honcheng commented on #38
Looks like button localisation key for "Discard Changes" needs to be "Don't Save".
https://developer.apple.com/documentation/appkit/1540934-nsrunalertpanel

But a workaround is to set the keyEquivalent and keyEquivalentModifierMask manually.
https://lists.apple.com/archives/cocoa-dev/2014/Jun/msg00081.html

Swift does not have escape character for backspace "\b", so we have to use "\u{08}"
https:/

[2020-08-04 01:42] #38 closed, assigned to honcheng

[2020-08-04 01:44] junjie opened #40 "View > Hide Sidebar"
One of the request is to make Due's window more compact by hiding the sidebar. Advanced users can still use keyboard shortcuts to get to all the options (switch view with Cmd-1,2,3, create new reminder with Cmd-N, sync with Cmd-Shift-R), while other users can still access them through the appropriate menu items.

This would take a new menu option:

View > Hide Sidebar

When hidden, it should refle

[2020-08-04 02:06] honcheng commented on #29
Yes that can work.

[2020-08-04 02:21] honcheng commented on #8
This is fixed now. The range converter only converted ranges where the parsed results are dates. But relative date parsing's results are string. Now if they are not dates, they will be kept without changes.

[2020-08-04 02:21] #8 closed, assigned to honcheng

[2020-08-04 02:22] honcheng commented on #15
This is fixed now.

[2020-08-04 02:22] #15 closed, assigned to honcheng

[2020-08-04 02:28] junjie opened #41 "Resetting a timer should play the timer off interface sound"
![CleanShot 2020-08-04 at 10 27 14@2x](https://user-images.githubusercontent.com/524420/89246221-36dca380-d63d-11ea-804e-916912c32b45.png)

[2020-08-04 04:30] junjie opened #42 "Resetting a timer scrolls the list when it is not required (already fully in view)"
![CleanShot 2020-08-04 at 12 28 36](https://user-images.githubusercontent.com/524420/89253069-22ed6d80-d64e-11ea-8c4b-ad51384fba33.gif)

[2020-08-04 04:30] junjie opened #43 "Undo-ing the resetting of a paused timer causes the timer to start running again"
![CleanShot 2020-08-04 at 12 28 36](https://user-images.githubusercontent.com/524420/89253133-53350c00-d64e-11ea-8b1b-790a0dfca022.gif)

[2020-08-04 06:27] junjie opened #44 "Allow sections to expand/collapse by clicking on section header title, in addition to the disclosure arrow"

[2020-08-05 03:34] junjie opened #45 "Open first URL in the selected reminder with the right-arrow key"
https://appfigures.com/reviews/110046225Lb2xmgfv9Meer4SznHDjqRw:

[2020-08-05 03:37] junjie commented on #45
In the last version there was a function where the first URL would be populated in the Reminders menu, accessible via right-arrow key. We should restore that:

<img width="452" alt="CleanShot 2020-08-05 at 11 35 39@2x" src="https://user-images.githubusercontent.com/524420/89369156-e41fec00-d70f-11ea-9b70-23c0baa7392d.png">

<img width="578" alt="CleanShot 2020-08-05 at 11 36 09@2x" src="https://us

[2020-08-05 03:50] honcheng commented on #35
The bug is fixed, and will be out in upcoming 20.3 update.

[2020-08-05 03:50] #35 closed, assigned to honcheng

[2020-08-05 03:50] honcheng commented on #36
Fixed. Will be available in 20.3 update

[2020-08-05 03:50] #36 closed, assigned to honcheng

[2020-08-05 06:27] #29 closed, assigned to honcheng

[2020-08-05 08:52] honcheng commented on #1
@junjie This feature is now added, pending localisation

[2020-08-05 10:23] jacobsa opened #46 "Due doesn't honor date formatting preferences"
I live in Australia, but specifically set my international preferences to use YYYY-MM-DD dates:

<img width="780" alt="Screen Shot 2020-08-05 at 20 22 02" src="https://user-images.githubusercontent.com/202895/89401903-608aed00-d759-11ea-8981-6bd39fad2770.png">

However Due ignores this, showing me the silly DD/MM/YYYY format used in Australia:

<img width="525" alt="Screen Shot 2020-08-05 at 20 22

[2020-08-05 10:25] jacobsa opened #47 "Show/hide keyboard shortcut doesn't work correctly when creating a reminder"
Steps to reproduce:

1. Press keyboard shortcut to show Due.
2. Press Cmd-N to start creating a reminder.
3. Type something into the reminder box.
4. Press shortcut again to hide Due (e.g. to check on something in the browser that you need to know for the reminder).

In the old version of Due this would correctly hide Due, and then pressing the shortcut again would show Due and you could resume ty

[2020-08-05 11:40] jacobsa opened #48 "Due doesn't understand weekday abbreviations"
The "when" box in Due doesn't understand "Sun" for Sunday:

<img width="525" alt="Screen Shot 2020-08-05 at 21 39 00" src="https://user-images.githubusercontent.com/202895/89408752-368af800-d764-11ea-86e9-4678411123ec.png">

This despite the fact that if I write "Sunday", it echoes it back to me as "Sun"!

<img width="525" alt="Screen Shot 2020-08-05 at 21 39 07" src="https://user-images.githubuse

[2020-08-06 14:12] junjie opened #49 "Clicking on notification of a reminder in a collapsed section does not bring up the editor for the reminder"
Actual: Due's window is activated, the section remains collapsed, and the editor does not show.
Expected: The editor shows up for the reminder.

[2020-08-06 14:40] junjie opened #50 "German localization screenshots not using correct font for header"
Not sure how I missed this, but it's not using the slab serif font that English uses. Perhaps overridden with the CJK overrides:

<img width="561" alt="At a glance Light" src="https://user-images.githubusercontent.com/524420/89545336-cc428800-d835-11ea-9a83-c8071e3f30f9.png">

[2020-08-06 15:15] #1 closed

[2020-08-06 15:15] #22 closed, assigned to junjie

[2020-08-06 15:15] #26 closed, assigned to junjie

[2020-08-06 16:00] junjie commented on #50
Sorry, realised this was a result of switching system languages without restarting. The work that is required is to update the App Store screenshots.

[2020-08-06 16:09] junjie opened #51 "Update Chinese translation for alert prompt to enable option to cut long alert sound"
![CleanShot 2020-08-07 at 00 02 46@2x](https://user-images.githubusercontent.com/524420/89554364-57754b00-d841-11ea-946e-981b34a0cf97.png)

Related: #1

The title sounds confusing. It's probably better like this:
启用此选项后，警报声会随着您点按通知而停止。但这也会使警报声在启用“勿扰模式”时继续播放。

[2020-08-06 23:20] junjie opened #52 "File > New Item wrongly disabled when there is no item in reminders/timers, disabling Cmd-N shortcut"
<img width="756" alt="CleanShot 2020-08-07 at 07 17 29@2x" src="https://user-images.githubusercontent.com/524420/89592114-68907d00-d87e-11ea-91ec-658136d4d061.png">
<img width="748" alt="CleanShot 2020-08-07 at 07 17 39@2x" src="https://user-images.githubusercontent.com/524420/89592117-6af2d700-d87e-11ea-844a-5d630ffca510.png">

<img width="756" alt="CleanShot 2020-08-07 at 07 18 06@2x" src="https

[2020-08-06 23:46] junjie opened #53 "Wrong reminder selected when clicking on notification of a reminder that moved from Today to Overdue"
To reproduce:
Make sure there is no overdue reminders, or at least, there is no overdue section.
Create a new reminder 1 min later.
Hide Due, wait for notification.
Click on notification.

Expected:
Reminder that fired the notification is selected

Actual:
The wrong reminder was selected. It appears to be selecting the old position, today section row 0?

Video:
https://safe.dsh.re/download/c52a7cd

[2020-08-07 01:25] honcheng commented on #50
<img width="451" alt="Screenshot 2020-08-07 at 9 25 22 AM" src="https://user-images.githubusercontent.com/208827/89598662-f32da800-d88f-11ea-8ee0-a0427df99cfb.png">

Suspect so too. So close?

[2020-08-07 02:14] junjie commented on #50
No I need to fix it

— JJ
On 7 Aug 2020, 9:25 AM +0800, honcheng <notifications@github.com>, wrote:

[2020-08-07 04:52] honcheng opened #54 "Row with running timer that was scrolled out of view does not get updated after completion when scrolled to visible by tapping on notification"

[2020-08-07 05:19] junjie opened #55 "Reset menu item should be enabled for a running timer as well"
![CleanShot 2020-08-07 at 13 17 19@2x](https://user-images.githubusercontent.com/524420/89611682-62b38f80-d8b0-11ea-8306-1f1a8a7bbdf1.png)

![CleanShot 2020-08-07 at 13 18 08@2x](https://user-images.githubusercontent.com/524420/89611722-77902300-d8b0-11ea-9bd3-7e240e571eef.png)

This way they can turn off a timer in one shot, without first pausing it.

[2020-08-07 07:13] junjie opened #56 "Multiple editing popovers can open if double-click on another cell while window is inactive; crashes on the 3rd one"
1. Edit a reminder (A)
2. Click on desktop to make Due window lose focus
3. Double click on another reminder (B) without first making Due active

Multiple editors are now opened. Repeat step 2-3 to crash the app.

Reproduction: https://safe.dsh.re/download/00ab896e-3eec-4f33-b070-6a61601d529c

[2020-08-07 08:25] honcheng commented on #52
Fixed in the next update, 20.4

[2020-08-07 08:25] #52 closed, assigned to honcheng

[2020-08-07 08:32] honcheng commented on #55
This will be enabled in 20.4

[2020-08-07 08:32] #55 closed, assigned to honcheng

[2020-08-07 08:42] honcheng commented on #44
Should it be the whole header?

[2020-08-07 09:16] junjie commented on #44
I'd think so, but if the header is much larger than the visible text, then it may cause some false positives?

[2020-08-07 09:18] honcheng commented on #44
I’ll restrict it to the height of the text, but spans the length of the
header?

On Fri, 7 Aug 2020 at 5:16 PM, Lin Junjie <notifications@github.com> wrote:

[2020-08-07 09:19] junjie commented on #44
Yes, something like this?
![CleanShot 2020-08-07 at 17 17 19@2x](https://user-images.githubusercontent.com/524420/89630518-16794700-d8d2-11ea-9c8a-2caf08416f68.png)

[2020-08-07 09:25] junjie commented on #8
@jacobsa @jjlharrison: We pushed out an experimental fix in 20.3, which can be enabled with the steps here: https://github.com/dueapp/Due-macOS/issues/8#issuecomment-667890281

Can you try out the fix?

[2020-08-07 09:26] junjie opened #57 "Enable prefBoolParsesMilitaryTime by default"
_Originally posted by @junjie in https://github.com/dueapp/Due-macOS/issues/8#issuecomment-667890281_

If testers have no issues, we can deprecate the preference and make it default by 20.4

[2020-08-07 09:28] junjie commented on #15
@andynil This should be addressed in 20.3, can you give it a try? Also, here's an updated Alfred workflow with updated icon: http://www.dueapp.com/extras/Due.alfredworkflow

[2020-08-07 09:30] junjie commented on #21
@change02 the fix is now available in 20.3. Can you give it a try?

[2020-08-07 09:34] junjie commented on #46
Thanks, will investigate

[2020-08-07 09:41] junjie commented on #47
Thanks for the report.

@honcheng:

Based on this behaviour, I assume the Show/Hide shortcut is now checking for whether main window is active, rather than whether Due app is active?

I think we can solve the problem by changing it such that:

1. it hides Due app as long as Due app is active (instead of checking whether main window active)
2. it activates Due app (the app, not the main window), wi

[2020-08-07 09:56] junjie commented on #46
![89633452-74a82900-d8d6-11ea-91e2-e8105493687f](https://user-images.githubusercontent.com/524420/89633692-cd77c180-d8d6-11ea-99b4-5ef503c3c295.png)

I don't think this is something we can control. I looked at native apps by Apple, including Reminders.app and Calendar.app, and the date picker control is fixed in the format for the region.

Short of making our custom date picker, this is not someth

[2020-08-07 09:56] #46 closed, assigned to honcheng

[2020-08-07 09:57] sortofworks commented on #15
@junjie Works great! Thanks for addressing the issue and releasing the tweak so quickly.

[2020-08-07 12:41] FatherOfAlways commented on #56
Related to this (wasn't sure if I should open another ticket):

1. Double click a reminder; editor window opens.
2. Double click the same reminder
3. Repeat step 2

This way, Due crashes reliably (at least on my end).

[2020-08-07 14:34] FatherOfAlways opened #58 "Editor window doesn't close if a Reminder is marked Done; Due crashes if edits are made"
1. Double click on reminder; editor window appears
2. Click on the circle to the right of the reminder in main window to mark it Done

The reminder is thus archived to Logbook (or rescheduled in case of a recurring reminder), however the editor window does not disappear.

Furthermore, if one proceeds to edit the reminder (that was just marked Done) in the editor window, Due crashes.

[2020-08-07 17:24] change02 commented on #21
Looks like it's working great! Thanks for the quick fix!

On Fri, Aug 7, 2020 at 2:30 AM Lin Junjie <notifications@github.com> wrote:

[2020-08-07 19:56] EmptyJay commented on #48
I might be experiencing a related or similar issue. I just tried to reschedule a reminder for next Thursday at 10AM. I typed 'th' and hit enter to accept Thursday, then typed 10am. The default option presented is 'Tomorrow 10:00AM' with 'Thu 10:00AM below it.

![Screen Shot 2020-08-07 at 2 55 10 PM](https://user-images.githubusercontent.com/940158/89683442-28e98580-d8be-11ea-8d49-766f2ea5d1b2.png)

[2020-08-08 08:30] junjie commented on #53
This has potentially serious implication, leading a user to mark or postpone a reminder wrongly. Here's a video showing how a reminder "Feed Pepper" was due. Clicked on the notification, it opens the editor correctly, but yet the list selects the wrong reminder "Fruits". At this point, a menu item action, like Mark Done, would have acted on Fruits instead of Feed Pepper.

Video reproduction: https

[2020-08-09 10:49] honcheng commented on #49
A fix for this will be out in 20.4

[2020-08-09 10:49] #49 closed, assigned to honcheng

[2020-08-09 10:52] honcheng commented on #56
This is fixed in the upcoming 20.4.

The correct behaviour should be:
1) If there is an editor for an existing reminder that does not have any changes, it will be closed before a new one is opened.
2) If there is an editor for an existing reminder that has changes, it will not open a new editor, but prompt in existing editor if the changes should be discarded.

[2020-08-09 10:52] #56 closed, assigned to honcheng

[2020-08-09 13:07] honcheng commented on #53
Ok. This is fixed now for the next 20.4 update

[2020-08-09 13:07] #53 closed, assigned to honcheng

[2020-08-10 03:11] junjie opened #59 "Alert volume control when "Stop alert sounds when clicking on a notification" option is enabled"
Related: #1

When this option is enabled, the volume of alerts cannot be separately controlled, and can be quite loud relative to other system alerts and sounds.

Think it makes sense to provide a separate volume control. This volume control slider should only appear, or be enabled when the option "Stop alert sounds when clicking on a notification" is enabled.

It should look and work like System

[2020-08-10 04:38] jacobsa commented on #46
Thanks, I see the same thing. That's quite user-hostile, but I guess I have to blame it on Apple.

[2020-08-10 05:20] jacobsa commented on #8
Sorry for the slow response. Seems to work for me, thanks!

[2020-08-10 12:49] vitorgalvao commented on #46
You can send them a bug report on this via the Feedback Assistant app (`/System/Library/CoreServices/Applications/Feedback Assistant.app`).

[2020-08-10 17:44] vitorgalvao commented on #39
For anyone looking to achieve this now:

1. Disable the option in Due.
2. [Open a terminal](https://support.apple.com/en-gb/guide/terminal/apd5265185d-f365-44cb-8b09-71a064a42125/mac).
3. Paste the following code and press ↵

[code]

What this does is use [`launchd`](https://en.wikipedia.org/wiki/Launchd) to run `open -ja Due` at every login, which invokes the app hidden.

To undo this, run:

[cod

[2020-08-10 17:45] vitorgalvao opened #60 "Notifications without having the app open?"
Apple Reminders can show notifications while the app isn’t open. Would that be viable with Due?

[2020-08-10 22:38] jacobsa commented on #46
Good idea, done: `FB8342306`

[2020-08-11 03:07] junjie opened #61 "Smaller section header text"
Part of request to make Due work in a more compact mode, taking up less screen estate, along with #40.

[2020-08-11 03:13] junjie opened #62 "Export a Due reminder into a file that someone can open to import, like an ICS file"

[2020-08-11 03:51] junjie commented on #60
Thanks for the suggestion.

That would involve scheduling notifications in advance, which is what we do on iOS. There is a lot of restrictions with the Notifications API, including a limit of 64 notifications, inability to repeat a notification at the interval required for auto snooze to work, etc.

In addition, this would pose additional challenges with syncing. If the app is not actively running

[2020-08-11 03:51] #60 closed, assigned to nobody

[2020-08-11 04:16] junjie opened #63 "Clicking on reminder notification when in timers view sometimes do not switch to Reminders view"
![Due macOS Bug - Clicking on Reminder Notification Sometimes Do Not Switch to Reminders View](https://user-images.githubusercontent.com/524420/89856518-11ffa780-dbcc-11ea-8a02-8cf47eaf2459.gif)

I think it happens the first time I do this from app launch. Subsequent times when I click on notification it switches to the reminders view correctly.

Also, when the popover showed when I manually switc

[2020-08-11 04:17] junjie commented on #63
I'm not sure if the starting the timer thing was needed, maybe not, but that's how it always hit me

[2020-08-11 06:43] junjie opened #64 "Saved searches (for filtering for tags, context)"

[2020-08-11 06:49] junjie opened #65 "Error uploading messages cannot be turned off with Due > Preferences > Notifications > Network down or unavailable, and/or Other sync errors"
<img width="420" alt="PastedGraphic-1" src="https://user-images.githubusercontent.com/524420/89866229-c657f880-dbe1-11ea-8bd7-0d4fd02670b9.png">

User reports that he continues to receive these messages despite turning these notifications off in settings.

[2020-08-11 09:07] jthingelstad commented on #64
👍

[2020-08-11 11:04] vitorgalvao commented on #60
Thought as much. Thank you for the clarification and thorough reply.

[2020-08-11 12:49] h-nn-ng opened #66 "Basic performance problems"
Today I updated to the newest version and directly purchased the update pass. Unfortunately I had to experience that this version is **much** slower compared to the previous (old design) version.
Sometimes it takes 1-2 seconds until the window is even shown and it also takes 1-2 seconds to switch between categories.
(macOS 13.6)

[2020-08-12 02:34] junjie commented on #66
Thanks for your feedback. Due should do better. We'll look into optimizing the performance in future updates.

[2020-08-12 02:35] junjie commented on #66
Another email:

[2020-08-12 02:48] junjie opened #67 "Improve auto-complete in parser to narrow down from a longer list of suggestion"
![CleanShot 2020-08-12 at 10 47 42@2x](https://user-images.githubusercontent.com/524420/89969586-5f8e1a00-dc89-11ea-89da-5aa15c61139b.png)
![CleanShot 2020-08-12 at 10 47 46@2x](https://user-images.githubusercontent.com/524420/89969591-6157dd80-dc89-11ea-9a94-e6d25ef78241.png)
![CleanShot 2020-08-12 at 10 47 48@2x](https://user-images.githubusercontent.com/524420/89969595-6321a100-dc89-11ea-92f7-a

[2020-08-12 02:52] junjie opened #68 "Improve day + time auto complete suggestion in parser to accept partial time input"
![CleanShot 2020-08-12 at 10 51 09](https://user-images.githubusercontent.com/524420/89969784-dc20f880-dc89-11ea-82f3-63d17af35910.gif)

[2020-08-12 06:34] honcheng commented on #57
Done. Will be out in 20.4

[2020-08-12 06:39] honcheng commented on #54
Fixed for 20.4

[2020-08-12 06:39] #54 closed, assigned to honcheng

[2020-08-12 06:41] honcheng opened #69 "Swipe to Mark Done a row when editor for the item is visible, does not dismiss the editor after the row is removed"

[2020-08-12 07:04] honcheng commented on #69
Fixed in 20.4

[2020-08-12 07:04] #69 closed, assigned to honcheng

[2020-08-12 07:11] honcheng commented on #37
This fix for this was out early in 20.3

[2020-08-12 07:11] #37 closed, assigned to honcheng

[2020-08-12 07:29] FatherOfAlways opened #70 "Option to not open editor window when notification is clicked"
I don't know how prevalent my usecase is, however ~90% of the time when I click on the "Reminder due" notification it is to postpone it by 10 minutes/1 hour.

Personally, I would prefer an option where clicking the notification opens the main Due window and highlights the Reminder in question but doesn't open its Editor window.

[2020-08-12 09:03] honcheng commented on #47
Thanks. We've fixed this behaviour in 20.4, the next update.

[2020-08-12 09:03] #47 closed, assigned to honcheng

[2020-08-13 03:11] honcheng commented on #44
Done for 20.4

[2020-08-13 03:11] #44 closed, assigned to honcheng

[2020-08-13 04:39] honcheng commented on #45
Added to the next update, 20.4

[2020-08-13 04:39] #45 closed, assigned to honcheng

[2020-08-13 06:11] honcheng commented on #57
This change is removed from default because it causes problem with year parsing.

[2020-08-13 07:04] honcheng commented on #66
There are a few performance issues with the app, and they may or may not be related to each other.
In 20.4, performance issues related to resizing of the window will be fixed.

[2020-08-13 09:04] honcheng commented on #66
@h-nn-ng Thanks for reporting this issue. We have found the problem that caused this, but the fix won't be out in the next update 20.4. We'll need more time to test the fix for this particular problem.

[2020-08-13 19:59] jshelton opened #71 "Embedded URL Follow shortcut"
In previous Due.app version, typing the right arrow key (as a single key keyboard shortcut) would visit the embedded url. This has tremendous use in automation. Please add this in the current version.

As a side note, the way that it works in iOS works very well giving you the option to visit the URL when completing a task.

Thank you!

[2020-08-14 04:50] honcheng opened #72 "Last opened tab not restored on app relaunch"

[2020-08-14 04:51] honcheng commented on #72
there is a bug where if Timers and Logged views are restored, the first row flickers showing a blue box

[2020-08-14 06:28] junjie commented on #70
Thanks for the suggestion. The menu items and keyboard shortcuts to postpone continue to work even when the editor is opened.

[2020-08-14 06:30] junjie commented on #71
Thanks, this is implemented with #45 and will be available in 20.4.

[2020-08-14 06:30] #71 closed, assigned to nobody

[2020-08-14 06:34] junjie opened #73 "Notification action buttons (Mark Done, Stop, Restart) not working in High Sierra 10.13.6"

[2020-08-14 06:50] junjie commented on #63
Also affects timers. If I'm in Reminders view, clicking on a timer notification does not switch to timers view.

[2020-08-14 07:06] #51 closed, assigned to junjie

[2020-08-14 14:15] junjie opened #74 "If right-arrow fails to open a link in reminder without a link, selecting another reminder with a link will not open the link the first time you pressed the right-arrow key"
Reproduction:
1. Select a reminder without a link
2. Press right arrow key to attempt to open link
3. You'll hear a system error beep emitted because there is no link
4. Select another reminder with a link
5. Press the right arrow key

Expected:
Right-arrow key opens the link in the reminder

Actual:
Right-arrow key triggers the system error beep for the reminder with link as well.

Notes:
The sec

[2020-08-14 14:16] junjie commented on #41
Related: #55

[2020-08-15 02:37] junjie commented on #71
@jshelton 20.4 is out with this fix

[2020-08-15 05:58] junjie opened #75 "DebugParsesMilitaryTime is not logged to Amplitude, not included in footer"
<img width="615" alt="CleanShot 2020-08-15 at 13 57 01@2x" src="https://user-images.githubusercontent.com/524420/90306373-3d053680-deff-11ea-8c51-24abfb14f342.png">

Because the mechanism they used to activate it is directly via Terminal.app:

`defaults write com.phocusllp.duemac prefBoolParsesMilitaryTime -bool YES`

Whereas you only log them to Amplitude if they activate it via menu item

[2020-08-16 11:37] h-nn-ng commented on #66
Just as a quick info: Changing the window size in 20.4 has unfortunately not gotten any better for me. If I change the size, it takes again 1 to 2 seconds and then the window stutters around with like 4 fps.

[2020-08-17 03:10] honcheng commented on #74
Fixed for next update 20.5

[2020-08-17 03:10] #74 closed, assigned to honcheng

[2020-08-17 03:12] honcheng commented on #66
@h-nn-ng Sorry that it's still not fixed for you. Can I find out from you, if there is a difference in performance when resizing when the current tab is Reminders, Timers and Logbook? For example, if it more noticeable in Reminders tab? Is it an issue at all in Timers and Logbook?

[2020-08-17 04:39] #72 closed, assigned to honcheng

[2020-08-17 04:44] honcheng commented on #41
Will be fixed in the coming update 20.5

[2020-08-17 04:44] #41 closed, assigned to honcheng

[2020-08-17 05:12] honcheng commented on #39
The next update, 20.5 will make this default.

[2020-08-17 07:40] h-nn-ng commented on #66
Sure, just let me know how I can help. Reminders, timers and logbook all have the same problem. The logbook because of the many entries may be slightly worse, but basically all sections are equally problematic to resize.

[2020-08-17 08:18] honcheng commented on #43
Undo resetting a paused timer was not a feature that is available in iOS, but this will be possible in the next Mac app update 20.5.

When reset for a paused timer is undone, it will restore to the paused state together with the time left.
When reset for a running timer is undone, it can be restored to 2 different states depending on time left, counting down from the original due time. If there's

[2020-08-17 08:18] #43 closed, assigned to honcheng

[2020-08-18 06:12] honcheng commented on #66
@h-nn-ng Thanks. I'll investigate further on the issue.

[2020-08-18 15:33] MrMAB opened #76 "Resetting date on editing time"
I have reminders due to start on thursday 3rd sept with a custom repeat schedule. A typical one is repeating monday, weds, thursday

When I tweak the time, the date is unexpectedly changed to the first repeat in that week - not the first one after the existing date.

E.g. If I set the date to 3rd Sept, with repeat of thurs, monday, weds, I expect a repeat on 3rd, 7th, 9th, 10th sept etc. If then g

[2020-08-18 15:36] MrMAB commented on #76
Additional: I just changed one with a repeat schedule of tues/weds/thurs and it did not show this behaviour.

[2020-08-18 15:42] MrMAB commented on #76
SEEMS to be when changing a repeat schedule that includes monday, the date resets

[2020-08-18 15:47] MrMAB commented on #76
I retested again - it seems to be when monday is touched at all.

I had an event scheduled for 15:45 repeating M-F from 3rd sept, and changed it to repeating TWTF at 15:55, and it was moved to repeat from 1st sept.

[2020-08-18 15:51] MrMAB commented on #62
In a related way, I have a sequence of repeating reminders through the working week, that are at slightly different times each day.

It'd be really useful to be able to *subscribe* using calendar software to view when they will all fire off (especially if they were editable there... but not essential). I.e. when Due updated, the calendar would auto-update

Failing that, to have view be able to sho

[2020-08-18 16:42] MrMAB opened #77 "Feature Request: "Until""
When setting a repeat schedule, let me say "repeat UNTIL <date>" - the last one would be on that date, after that date the reminder is turned into an ex-reminder.

[2020-08-18 16:44] MrMAB opened #78 "Feature request: "Except""
Let me specify that a day will be an exception, and should not have a recurrence of a reminder.

Either by reminder:
I.e. this reminder is every lunchtime, monday to friday EXCEPT on the 15th sept, where I shall be in a meeting.

or globally:
On 15th sept, all reminders from noon to 2pm should be postponed until 2pm.

[2020-08-18 17:33] MrMAB commented on #64
I would love to be able to tag, and view by tag (to quickly separate work/home tasks).

When I am on a break from work, I'd *really* love to be able to say 'mute all of these until <date> then restart the schedules'.

Yes, I can go through and click on multiple tasks and mark as 'done', but if I am having a week off and the task is daily, that's five clicks - also, what if one work task repeats da

[2020-08-19 09:47] joshbahk opened #79 "Hiding the Sidebar/Making it Smaller"
Right now I feel like the sidebar is way too big. I like using the app as the smallest possible window and thus it takes up about 20%-ish of the space available. I want to be able to hide the sidebar, or at least make it smaller. Hiding the sidebar would be the best option considering that I don't use the timer feature very often. It would be nice to have a simple command that would let you hide a

[2020-08-20 03:48] junjie commented on #79
Thanks for the feedback, we've plans for that: #40

[2020-08-20 03:48] #79 closed, assigned to nobody

[2020-08-20 14:27] junjie opened #80 "Pause menu item should become Stop, and should work to stop+reset timer once a timer with autosnooze expires"
<img width="450" alt="CleanShot 2020-08-20 at 22 25 11@2x" src="https://user-images.githubusercontent.com/524420/90784650-15193700-e334-11ea-8a76-3372de137eae.png">

Currently Pause doesn't do anything. Reset is disabled as well.

If Pause becomes Stop, effectively it does the same thing as Reset.

However for the sake of using the same keyboard shortcut Cmd-S to stop the timer, let's just keep th

[2020-08-21 02:18] junjie opened #81 "Menu bar icon badge does not decrease when overdue item is marked done on another device"
User reported. Waiting for confirmation about the problem

[2020-08-21 02:41] junjie opened #82 "Due window can become blank when expanding a previously closed section"

[2020-08-21 03:43] junjie opened #83 "Increase max number of days/weeks/months/years for repeat"
Currently maxes at 30 on iOS side.

At the data layer this is fully supported. Only the UI level needs to change to support this behaviour.

And both iOS and macOS will need to be updated.

When this value increases, it means it can also be applied to larger calendar units like week, months, years. I guess that was one of the reason why it was kept low like 30, where after 30 days people could go

[2020-08-21 04:04] junjie commented on #83
Works fine on iOS:

![E87E2B8A-3569-41B9-955F-8A2FF5467F21](https://user-images.githubusercontent.com/524420/90851138-606c2d80-e3a6-11ea-9b6c-aba388eacce2.JPG)

[2020-08-21 07:58] junjie opened #84 "Show icon in: Menu bar only mode ends up showing dock icon after clicking on a notification"
No concrete repro steps yet, but I can confirm that it has happened for me.

[2020-08-24 01:19] bluecursor commented on #84
Happens to me on every scheduled event. Very annoying!

[2020-08-24 02:35] junjie commented on #84
Do you mean it happens when a reminder becomes due?
On 24 Aug 2020, 9:20 AM +0800, bluecursor <notifications@github.com>, wrote:

[2020-08-24 02:37] bluecursor commented on #84
When you check Mark done is when it happens, the Dock Icon shows back up. Have to go back into settings and reset menubar only.

Frank Michielli
Sent with iOS Spark!📱
On Aug 23, 2020, 10:35 PM -0400, Lin Junjie <notifications@github.com>, wrote:

[2020-08-24 04:40] junjie commented on #84
Thanks @bluecursor!

@honcheng can you check?

[2020-08-24 06:37] honcheng commented on #40
![side-bar-animation 2020-08-24 14_30_33](https://user-images.githubusercontent.com/208827/91011194-6f591700-e616-11ea-9d5f-b3b863016a1a.gif)

We're making some significant progress with this issue.
Hiding the side bar pushes the standard window buttons on top of the search field, so we need to move the search field as well. Also added keyboard shortcut to toggle the side bar.

Previous implementa

[2020-08-24 06:42] honcheng commented on #84
@bluecursor Can I check, when you say **reset** to menubar only, did the option in Preference change to another option your dock icon shows up?

[2020-08-24 08:15] junjie commented on #73
User reports it's working again

[2020-08-24 08:15] #73 closed, assigned to junjie

[2020-08-24 12:46] bluecursor commented on #84
No it does not change. Have to select something else and then Change it back to menu at only

Frank Michielli
Sent with iOS Spark!📱
On Aug 24, 2020, 2:43 AM -0400, honcheng <notifications@github.com>, wrote:

[2020-08-26 02:32] honcheng commented on #83
This will be added in the next update, 20.5

[2020-08-26 02:32] #83 closed, assigned to honcheng, junjie

[2020-08-26 02:58] honcheng commented on #80
Will be fixed in the next update, 20.5

[2020-08-26 02:58] #80 closed, assigned to honcheng

[2020-08-26 04:50] junjie commented on #63
I can't seem to reproduce this for now too

[2020-08-26 04:56] junjie opened #85 "Resetting a timer (that is not the last timer) with the timer page scrolled to the bottom, unexpectedly scrolls the list"
![CleanShot 2020-08-26 at 12 54 50](https://user-images.githubusercontent.com/524420/91257028-72c9db00-e79b-11ea-9048-86d4249bb1bb.gif)

[2020-08-26 08:50] honcheng commented on #85
Will be out in the next update, 20.5

[2020-08-27 01:35] honcheng commented on #84
The fix for this will be out in the next update, 20.5.
Thanks!

[2020-08-27 01:35] #84 closed, assigned to honcheng

[2020-08-27 07:16] #42 closed, assigned to honcheng

[2020-08-28 16:28] junjie opened #86 "Reduce size of text in sidebar using adjustmentFactor when text size reduces"
So that it doesn't draw more attention than the content when text size changes. However, do not increase the text beyond adjustmentFactor of 1, since the width of the side menu barely fits the text in some languages.

[2020-08-28 16:31] junjie opened #87 "Reduce size of checkmark button in reminder cell with adjustmentFactor when text size reduces"
However, do not increase the size of the checkmark beyond adjustmentFactor of 1 (i.e. the max button size is 40pt, with the checkmark image at 30pt).

[2020-08-28 16:34] junjie opened #88 "Reduce size of play/pause button in timer by adjustmentFactor when text size reduces"
However, do not increase the size of the button beyond adjustmentFactor of 1.

[2020-08-31 02:48] honcheng commented on #87
The disclosure button is also horizontally centered to the checkmark button after size reduction. This will be out in 20.5

[2020-08-31 02:48] #87 closed, assigned to honcheng

[2020-08-31 03:01] honcheng commented on #86
Will be out in the next update, 20.5

[2020-08-31 03:01] #86 closed, assigned to honcheng

[2020-08-31 03:48] honcheng commented on #88
Will be out in the next update 20.5

[2020-08-31 03:48] #88 closed, assigned to honcheng

[2020-08-31 06:37] honcheng opened #89 "Newly added timer that is still counting down, and automatically added via sync, does not activate countdown"

[2020-08-31 13:06] junjie opened #90 "First launch window size is too narrow, and positioned awkwardly to the left"
This is what it looks like:

![01](https://user-images.githubusercontent.com/524420/91723060-c38f6880-ebcd-11ea-90ef-92a0f09d23f4.jpg)

![02](https://user-images.githubusercontent.com/524420/91723066-c7bb8600-ebcd-11ea-8dc0-2be26cf74372.jpg)

It should probably look more like this, centralized:

![03](https://user-images.githubusercontent.com/524420/91723104-d86bfc00-ebcd-11ea-86bb-ad6291018b04.jp

[2020-08-31 13:33] junjie commented on #85
This is still happening on 20.5-6201:

![Due-85](https://user-images.githubusercontent.com/524420/91725640-9d6bc780-ebd1-11ea-97ca-d575ba59845c.gif)

[2020-09-02 01:58] honcheng commented on #90
This is fixed now. Will be out in 20.5

[2020-09-02 01:58] #90 closed, assigned to honcheng

[2020-09-02 02:02] honcheng commented on #85
Fixed for 20.5

[2020-09-02 02:02] #85 closed, assigned to honcheng

[2020-09-02 02:23] honcheng commented on #76
@MrMAB Thanks for reporting this. I can replicate this bug consistently.

To reproduce:
1) Create a new reminder due on a later day of the same week. For example, today is Wed, and the reminder is due on Saturday.
2) Set the reminder to repeat on any day between today (Wed) and a day before due date (Fri).
3) The due date automatically changes to the earliest repeat date between Wed-Fri. For examp

[2020-09-02 02:36] junjie opened #91 "Empty state picture are not positioned consistently, moving slightly when switching between Reminders and Logbook"
![CleanShot 2020-09-02 at 10 31 06](https://user-images.githubusercontent.com/524420/91925681-19682b80-ed08-11ea-8fa3-ab5a8469b31a.gif)

[2020-09-02 05:13] honcheng commented on #40
This feature will be out in 20.5

[2020-09-02 05:13] #40 closed, assigned to honcheng

[2020-09-02 13:01] junjie opened #92 "Scrollbar has grey background colour in Reminders view"
![CleanShot 2020-09-02 at 20 58 07](https://user-images.githubusercontent.com/524420/91985511-0d5b8880-ed5f-11ea-952a-c87359a82847.gif)

Show scroll bars: Always
<img width="471" alt="CleanShot 2020-09-02 at 20 59 53@2x" src="https://user-images.githubusercontent.com/524420/91986319-4267db00-ed5f-11ea-95fc-74cd9f4831cc.png">

They should behave like Timers/Logbook view.

Same thing for other theme

[2020-09-02 13:03] junjie commented on #92
<img width="394" alt="CleanShot 2020-09-02 at 21 02 08@2x" src="https://user-images.githubusercontent.com/524420/91986679-94a8fc00-ed5f-11ea-93a3-19fed0d6ef02.png">

<img width="393" alt="CleanShot 2020-09-02 at 21 02 31@2x" src="https://user-images.githubusercontent.com/524420/91986733-a8ecf900-ed5f-11ea-97ed-8206ddf4d88f.png">

For Lavender and Pure Black, the background is present for all views

[2020-09-05 02:03] sonbarke opened #93 "Can search field be highlighted when using Show/Hide shortcut?"
When pressing the 'Show/Hide Window' shortcut key to show the Due window, can the cursor be set on the 'Search' field? It would be great to start typing a new 'Due' reminder without having to select the 'Search' field with the mouse.

OR as an alternative, perhaps a keyboard shortcut to select the 'Search' field when the Due window is open.

[2020-09-05 14:38] junjie opened #94 "Dropbox > Monitor File For Changes keeps getting disabled after adding a task on the Mac"

[2020-09-05 14:45] junjie opened #95 "Duplicating a timer does not enable Save button in editor without changing title"
It should not be necessary for the duplicated timer to be renamed for it to be saved. There is a related bug that crashes the app which I'll open an issue for shortly.

[2020-09-05 14:46] junjie opened #96 "Duplicating a timer crashes the app"
1. Right click on a timer > Duplicate
2. Rename the timer
3. Save
4. App crashes.

Related: #95

[2020-09-05 14:54] junjie opened #97 "Keyboard shortcut Shift-Control-Option-Command-§ crashes Due forever, requiring a reinstall?"
Got a strange bug report about the above:

User is using en_PT (English (Portugal)). I asked about the § key, it is located here:

![JC ScreenShot 2020-08-31 at 16 34 59](https://user-images.githubusercontent.com/524420/92307668-9f1afe00-efca-11ea-925d-9a83682d4bbf.jpg)

I sent a followed up email enquiring:

Awaiting response.

[2020-09-05 15:39] junjie commented on #93
Hi,

Sorry I got back to your email late. In any case, there is a keyboard shortcut you can use to highlight the search field. Cmd-F brings it to the search field. Cmd-N brings up an editor to create a new reminder. Does that resolve your problem?

[2020-09-05 19:52] sonbarke commented on #93
Yes -- thank you. I looked for the keyboard shortcut, but should've thought about the Mac convention of using Cmd-F!

I'll proceed with closing the comment. Thanks!

[2020-09-05 19:52] #93 closed, assigned to nobody

[2020-09-06 12:15] vitorgalvao commented on #39
Did this end up making the cut to 20.5? It’s not working for me (i.e. the app launches at login and is not hidden).

Due 20.5 (6212)
macOS 10.14.6 (18G6020)

[2020-09-06 15:27] junjie commented on #39
This is part of 20.5, yes. I tested on Catalina and it seems to be working on my end. We'll check again on Mojave. Thanks Vitor

[2020-09-06 15:27] #39 closed, assigned to honcheng

[2020-09-06 15:28] junjie opened #98 "Check if app is hidden with Open at login on Mojave"
This this end up making the cut to 20.5? It’s not working for me (i.e. the app launches at login and is not hidden).

Due 20.5 (6212)
macOS 10.14.6 (18G6020)

_Originally posted by @vitorgalvao in https://github.com/dueapp/Due-macOS/issues/39#issuecomment-687774041_

[2020-09-06 15:59] vitorgalvao commented on #98
If you end up being unable to reproduce it on Mojave, please let me know which debug steps you’d like me to perform.

[2020-09-06 16:03] junjie opened #99 "Due does not prevent app from quitting when there is a pending upload"
Due 1.x used to do that. If there is a pending upload (e.g. just marked a reminder complete), attempting to quit Due would:

1. trigger sync immediately
2. put up a modal sheet with a progress bar about sync progress
3. offer buttons to quit immediately, or cancel
4. quit Due automatically when upload succeeds, or
5. quit Due after a time-out when upload fails.

Right now, Due just quits, and the

[2020-09-07 07:46] junjie commented on #98
Thanks. I seem to be able to reproduce it on my Catalina now too, though it seems to be working on my virtual machine. We'll look into it

[2020-09-08 19:14] uturnr opened #100 "Due for macOS notifies of reminders that have already been cleared or postponed on another device."
I often receive Due reminders on my phone and then delay them or mark them complete. Then moments later, I start getting the same reminder on my computer, repeating every minute. I then manually perform a sync to update the macOS client. (I sync with iCloud)

I'm not sure if there are limitations to how often iCloud can be used for syncing, but to have the app on my Mac is only useful for me if it

[2020-09-09 00:20] junjie opened #101 "Customize postpone menu item time"

[2020-09-09 00:21] junjie opened #102 "Snooze directly from notification with postpone setting"
Related #101

[2020-09-09 04:59] junjie commented on #100
There are 2 possible reasons why background sync can fail on the Mac. One, the silent push used to communicate that a change has happened was not sent out. Two, the silent push was sent out, but was not picked up by the app.

To ensure that the pushes are being sent out:

1. Ensure Sync in Background is enabled on your iOS device > Due > Settings > Sync.
2. Leave Due open on your Mac and iPhone (u

[2020-09-09 12:51] vitorgalvao commented on #102
As something to think about when implementing this, I’ve seen this snooze done in two ways.

In Apple Calendar, clicking the snoozing option will do it for a set time and dismiss the notification *but if we click and hold*, we’ll see a dropdown. We can then drag down to the desired snooze time and release the mouse to select it.

In Apple Reminders, clicking the `Later` notification option always

[2020-09-09 18:35] uturnr commented on #100
Thanks @junjie - The notifications appear to be syncing smoothly after step 4 - delete, reinstall, relink.

[2020-09-09 18:35] #100 closed, assigned to nobody

[2020-09-10 01:36] junjie commented on #102
Thanks Vitor for the comparison. I've not studied the API in-depth at this point, but IIRC, the API doesn't allow us to do it Calendar way. So I remembered not considering this feature in the past because it makes the Mark Done button tougher to get to.

[2020-09-11 03:38] #96 closed, assigned to honcheng

[2020-09-11 03:41] #95 closed, assigned to honcheng

[2020-09-11 03:42] honcheng commented on #97
@junjie how did you manage to set en_PT? My English options don't have PT

[2020-09-11 03:49] junjie commented on #97
<img width="1275" alt="CleanShot 2020-09-11 at 11 48 28@2x" src="https://user-images.githubusercontent.com/524420/92855389-cb000e80-f424-11ea-8ba3-1199eae50a8a.png">

Try a Portuguese or Brazilian keyboard. I had to press down on Opt to get the key. Not easy to screencap that.

This virtual keyboard can be found here:

![CleanShot 2020-09-11 at 11 49 39@2x](https://user-images.githubusercontent.co

[2020-09-11 03:59] honcheng commented on #97
![CleanShot 2020-09-11 at 11 56 03](https://user-images.githubusercontent.com/208827/92856514-1a930a00-f426-11ea-9343-942bcbe589d4.gif)

I mean I cannot bring up the double S symbol when I try Portuguese keyboard. Tried Brazilian too.

[2020-09-11 04:00] honcheng commented on #97
Oh. It's somewhere else.
Anyway, I cannot get the symbol in the shortcut recorder using the screen keyboard. Will find another way.

[2020-09-11 04:31] honcheng commented on #97
I can reproduce this using Apple Script

[code]

I referenced the key code here https://apple.stackexchange.com/a/36947
§ is 10

Managed to crash it permanently. The character isn't supported.

I'll try to first fix the crash so it does not crash with unsupported characters,  then support the § character if possible.

[2020-09-11 05:06] honcheng commented on #97
Done. Will be available in 20.6

[2020-09-11 05:06] #97 closed, assigned to honcheng

[2020-09-11 07:41] #91 closed, assigned to honcheng

[2020-09-13 07:23] MrMAB opened #103 "Editing items on watch and updating the phone"
I am finding a lot of frustration at the moment as I click Due on my watch and make some small change only to get a ‘transfer error’ as I am away from my phone.

I appreciate that the watch cannot update the phone if there is no connection, but it should be a little more graceful.

In other words, if it cannot update the phone (or go via wifi), the change should be silently remembered, and then up

[2020-09-13 07:30] MrMAB commented on #78
.... multiple exception dates would be nice with this.

I.e. ‘ this reminder is every lunchtime, monday to friday EXCEPT on the 15th sept’

Should be able to be modified to say:
‘this reminder is every lunchtime, monday to friday EXCEPT on the 15th sept and 6th oct’.

Any dates that have gone into history can be forgotten by the reminder.

[2020-09-13 07:35] MrMAB commented on #103
Oh - terribly sorry, I’ve put this into the macOS issue tracker. My apologies. I can’t see the watch/phone tracker - so I’m unable to move it myself. I shall leave it for you guys to decide its fate.

[2020-09-14 07:06] honcheng commented on #99
@junjie this is done, but pending localisation

[2020-09-14 08:06] honcheng commented on #92
Fixed, and should be ready in 20.6

[2020-09-14 08:06] #92 closed, assigned to honcheng

[2020-09-15 03:30] vitorgalvao commented on #98
I’ve noticed a related regression. Ever since this update, Due does not obey `open` commands such as `-j` (start hidden) or `-g` (do not bring to foreground).

[2020-09-16 04:21] honcheng commented on #98
@vitorgalvao Thanks. I can confirm that it is a regression caused by a fix for an unrelated issue.
A fix for this will be out in 20.6, and it will also obey `open` `-j`.

[2020-09-16 04:21] #98 closed, assigned to honcheng

[2020-09-16 04:49] honcheng commented on #89
This will be fixed in 20.6

[2020-09-16 04:49] #89 closed, assigned to honcheng

[2020-09-16 04:52] #57 closed, assigned to honcheng

[2020-09-20 05:44] junjie opened #104 "Duplicating a search result from logbook results in the wrong item being duplicated"
To reproduce:

1. go to Logbook
2. note the first reminder in the list
3. search for an item that is not the first item
4. right click on the first item in the search result > Duplicate
5. notice that the item being duplicated is not the item you've selected, but the first item in the logbook.

[2020-09-21 04:08] honcheng commented on #104
Thanks. The fix will be out in 20.6

[2020-09-21 04:08] #104 closed, assigned to honcheng

[2020-09-22 04:57] junjie opened #105 "DOW + 24 hour time is not parsed together"
e.g. tuesday 0700 does not parse correctly. tuesday 07:00 parses correctly.

The former is two results, the latter is one result from data detector. Will need a way to merge them.

https://twitter.com/bjkirton/status/1307532505537417217

[2020-09-22 04:58] junjie commented on #105
Related: #8

[2020-09-24 04:57] honcheng commented on #61
@junjie I think we can close this? Was addressed in 20.5 release.

[2020-09-24 04:57] #61 closed, assigned to nobody

[2020-09-28 18:40] bluecursor opened #106 ""Marked Done" Notification not working"
Clicking on "Marked Done" when Notification is displayed does not work.
Using OSX Catalina (latest version)

[2020-10-02 07:15] junjie opened #107 "Reminder not marked done when clicking on the Mark Done button with Due's window closed (macOS 10.13.6)"
Related #106 ?

[2020-10-02 07:17] junjie commented on #106
@bluecursor Does this happen all the time for you? If not, do you have any steps that I can use to reproduce the problem?

[2020-10-02 09:22] bluecursor commented on #106
Everytime.

Frank Michielli
Sent with iOS Spark!📱
On Oct 2, 2020, 3:17 AM -0400, Lin Junjie <notifications@github.com>, wrote:

[2020-10-02 09:24] bluecursor commented on #106
I have a reminder set for everyday to take pills at 9pm every night.

Frank Michielli
Sent with iOS Spark!📱
On Oct 2, 2020, 5:21 AM -0400, BlueCursor <bluecursor@outlook.com>, wrote:

[2020-10-05 05:24] junjie opened #108 "Icon badge mode like iOS"
Option to badge icon like iOS, with overdue only, today+overdue, etc.

[2020-10-06 03:10] junjie opened #109 "Investigate "Error checking for updates" / "A server with the specified hostname could not be found.""
Error message only disabled with "Other sync errors".

Will check with user on the network circumstances causing this issue.

[2020-10-07 07:40] honcheng commented on #106
@bluecursor I'm having trouble reproducing this issue.

I have tried creating a non-recurring reminder, and a recurring reminder (similar to yours, 9pm every night).
And I have tried clicking on the Mark Done button when Due app
(1) is visible,
(2) is hidden behind another app,
(3) is closed, and
(4) is terminated,
(5) all the above but switched to another tab.

I tried these in Catalina.
Are ther

[2020-10-07 07:52] junjie commented on #66
User on High Sierra reporting issue:

![Screen Shot 2020-10-06 at 11 46 29 PM](https://user-images.githubusercontent.com/524420/95302830-0d4a2d80-08b5-11eb-98a2-f54827e5d4d8.png)

[2020-10-07 11:24] bluecursor commented on #106
Linked to iOS due

Frank Michielli
Sent with iOS Spark!📱
On Oct 7, 2020, 3:40 AM -0400, honcheng <notifications@github.com>, wrote:

[2020-10-08 07:19] honcheng commented on #81
0d70b36d6

[2020-10-08 07:19] #81 closed, assigned to honcheng

[2020-10-11 17:43] richard-emerson commented on #107
I also have this issue: Mark Done from a notification has no effect when Due's window is closed (I have not tried it from a notification when Due's window is open).
I *suspect* that Mark Done also has no effect when done directly from Due's window: I can mark something done there and the change is not reflected in the iOS app for a long time (e.g. >30mins), maybe never.
I'm on macOS 10.13.5 and my

[2020-10-12 22:27] tedmiston commented on #10
Hi @junjie do you have any updates on having the option for more neutral themes?  Something equivalent to the light and dark themes that the iOS app has today would be great.  Thank you!

[2020-10-13 12:24] vitorgalvao commented on #39
Reporting that I’m on 20.7 (6218), still on Mojave, and this is still not working (i.e. Due’s window is still show—not hidden—on login).

[2020-10-13 23:41] rben01 opened #110 "Location reminders"
I know the readme says that location reminders do not fit into the overall vision of Due, but... why not? They're a very useful kind of reminder, and if they went in their own list in the side panel (with time-based reminders and timers) then you'd hardly notice them in the app UI.

[2020-10-14 02:26] junjie opened #111 "Clicking on start/pause button can hang the app for up to 16-30 seconds"
Not sure how to go about diagnosing this. Any clue @honcheng ?

[2020-10-14 02:28] junjie commented on #111
Asked user to try:

[2020-10-14 02:31] junjie commented on #39
This is actually tracked in #98. The fix was originally slated for 20.6, but is now part of 20.8, because of two emergency bug fixes (20.6 and 20.7) we had to release last week. 20.8 (or rather, the Big Sur update) is still being finalised, and it contains the fix for this issue.

[2020-10-14 03:47] junjie commented on #107
Hi @richard-emerson, from what you just described, it sounds like you're actually saying that Mark Done does mark the reminder complete on the Mac. What you're saying is the problem is that the the changes don't get picked up on your iOS devices? This would be an entirely different problem altogether.

[2020-10-14 04:49] junjie commented on #110
GPS limitations means they're not as reliable as we would want them to be, especially in areas with poor GPS reception. Also, there's a lot more we can do for time-based reminders, and supporting location-based reminders means take up a big portion of our development resources to make that happen.

[2020-10-14 04:49] #110 closed, assigned to nobody

[2020-10-14 05:28] #111 closed, assigned to nobody

[2020-10-14 10:22] Arnoud-B opened #112 "Snoozing on iOS leads to repeating "X was snoozed" reminder on macOS"
When I snooze items on iOS, I get a reminder of it on macOS (correct). However, I keep getting this reminder at the repeat interval of the item. I should only get the "item was snoozed" reminder once.

[2020-10-15 04:15] junjie commented on #99
@honcheng: If I disable network while the prompt is in progress, I get this:

![96076242-71857680-0edf-11eb-91a8-99ff6a633404](https://user-images.githubusercontent.com/524420/96076380-cd4fff80-0edf-11eb-874d-1b4d4cf3437b.png)

It quits automatically shortly after, and this is the correct behaviour.

However, if I relaunch Due and attempt to quit again (with the network still disabled), I get stuc

[2020-10-15 08:31] junjie commented on #112
Are you able to provide me with the screenshots of the notifications you're referring to so I have a better idea what's the issue?

[2020-10-19 04:41] #99 closed, assigned to honcheng, junjie

[2020-10-20 10:21] Arnoud-B commented on #112
Sure, here's a screenshot: https://jmp.sh/DaPtfvG

![main_full](https://user-images.githubusercontent.com/524420/97134922-c3ed4f80-1789-11eb-94bc-0bf9761e9763.jpg)

To test, I snoozed several reminders with different repeat intervals planned at the same time from my iPhone. On macOS, it keeps reminding me that they were snoozed at the repeat interval defined for each reminder.

[2020-10-20 10:40] Arnoud-B commented on #112
It seems there is another error which may be related: After I clicked "Mark Done" on the notification, it said 2 reminders were modified in a notification directly after that (3 reminders were sending notifications that they were snoozed at the repeat interval). I did not touch those reminders yet they were modified by completing one of the 3 reminders..

[2020-10-22 02:19] junjie opened #113 "Show running timer in menu bar"

[2020-10-22 02:29] junjie opened #114 "First suggestion of "Saturday 08:00", "Saturday 8am" is "Tomorrow 8am""
![PastedGraphic-1](https://user-images.githubusercontent.com/524420/96817200-69828500-1451-11eb-92dd-51a0b87ed92c.png)

[2020-10-25 05:56] mrehler opened #115 "Enable Reminders > Auto Snooze menu when editor is visible"
I’ve customized a Due shortcut through macOS to have "Auto Snooze > Every Minute" and "Auto Snooze > Every 5 Minutes” so that I can quickly switch between the two. It would make for a much more convenient flow if these menu items were functional in the New Item mini-window and using these shortcuts was able to change these parameters on a new reminder.

[2020-10-26 04:55] junjie commented on #112
Thanks for the screenshot. The notification you're getting is an auto snooze notification. It results from an item being overdue and having an auto snooze applied to it. You'll receive a notification at the auto snooze interval repeatedly until you turn off auto snooze for the item, postpone the item, or mark it complete.

It is not a notification telling you that you have "snooze" the notificatio

[2020-10-26 04:58] junjie commented on #112
This notification about "N reminders modified" is appearing on your Mac?

This happens after a sync, if you have "Sync completed with changes" notification enabled in Due > Preferences > Notifications. This is off by default.

This probably just means that before you made the change on your Mac, Due Mac has not synced in any changes you have already made on another device. After you made the chang

[2020-10-26 05:05] junjie commented on #115
Thanks, make sense, we'll look into enabling the menu items when the editor is present:

![CleanShot 2020-10-26 at 13 05 10@2x](https://user-images.githubusercontent.com/524420/97135664-e2544a80-178b-11eb-87c4-017121345e1b.png)

[2020-10-26 05:06] junjie commented on #10
Hi @tedmiston, no updates on that front at the moment. We've been concentrating on the Big Sur/Apple Silicon work lately.

[2020-10-26 13:17] Arnoud-B commented on #112
OK, so it's a wording & sync issue? I don't remember ever seeing a "Reminder snoozed" notification on iOS. After the snooze period, it just shows the reminder again. I would just expect "Reminder" or "Reminder still due" as the title on macOS, coming back at the auto-snooze interval, as the goal of the app is to remind me there is still a reminder due, not to remind me that it snoozed a reminder (

[2020-10-27 23:49] kristofferR commented on #106
Same issue here, Mark Done on macOS Catalina doesn't do anything.

[2020-11-03 05:08] junjie commented on #112
I see, I see how it can be confusing. The idea was to differentiate the notifications based on whether this reminder just became due, or when it fires again because it was auto snoozed. We'll keep this in mind to see if this needs adjustment in future. Thank you!

[2020-11-03 05:08] #112 closed, assigned to nobody

[2020-11-06 07:17] junjie opened #116 "Remember editor position for new reminders"

[2020-11-06 07:28] junjie opened #117 "New reminder window that can be triggered with hotkey to add a reminder without bringing Due's main window up"

[2020-11-09 12:46] #116 closed, assigned to honcheng

[2020-11-12 20:48] aleks-fill commented on #102
It would be very convenient if it was possible to snooze reminders through notifications. Thanks a lot in advance!

If it helps, the GoodTask app (https://goodtaskapp.com/) has this functionality.
<img width="355" alt="Screenshot 2020-11-12 at 23 54 00" src="https://user-images.githubusercontent.com/3996988/98995945-2a70bc80-2543-11eb-8659-10cfa044e518.png">
But I like your app better😇. I mean, in

[2020-11-13 04:24] junjie opened #118 "Option to confirm quit to prevent accidental quitting"
https://twitter.com/shepgo/status/1324392648644448259

[2020-11-13 04:27] #50 closed, assigned to junjie

[2020-11-13 04:30] junjie commented on #39
@vitorgalvao Hi! Sorry for the delay. Can you check if 20.8 addresses this issue? You may have to manually update due to phased release

[2020-11-13 12:32] vitorgalvao commented on #39
Issue is still there.

Due Version 20.8 (6536)
macOS 10.14.6 (18G6032)

[2020-11-20 03:10] junjie opened #119 "Search results section header should not be collapsible (shouldn't have disclosure triangles); clicking on results section header crashes the app"
![CleanShot 2020-11-20 at 11 03 14@2x](https://user-images.githubusercontent.com/524420/99753292-f425d500-2b20-11eb-9dc2-c15428cab328.png)

[2020-11-23 03:02] junjie opened #120 "Adopt new Dropbox changes: scopes, OAuth code flow with PKCE and short-lived tokens by Sep 2021"
https://dropbox.tech/developers/migrating-app-permissions-and-access-tokens

[2020-11-25 05:27] junjie opened #121 "Last cell of table view has non-rounded corner at the bottom"
![CleanShot 2020-11-25 at 13 24 35@2x](https://user-images.githubusercontent.com/524420/100186882-dcd05880-2f21-11eb-995c-ba11d0e65ae5.png)
![CleanShot 2020-11-25 at 13 24 12@2x](https://user-images.githubusercontent.com/524420/100186884-dd68ef00-2f21-11eb-909c-f365ed5f840f.png)

[2020-11-25 07:32] junjie opened #122 "Title of reminder can be missing in the table view sometimes"
![Screen Shot 2020-11-23 at 15 52 36](https://user-images.githubusercontent.com/524420/100196106-5faddf00-2f33-11eb-9ef2-8c888112dcfd.png)

@honcheng I remember seeing this bug before, that I thought we'd fixed due to some caching issue? Any recollection?

[2020-11-25 07:40] junjie commented on #122
Another user:

![Bildschirmfoto 2020-11-23 um 20 59 04](https://user-images.githubusercontent.com/524420/100196662-275ad080-2f34-11eb-9fad-98e31fcbdd52.png)

20.8 (6536) on Mac OS X 10.14.6

Seems like both are on 20.8, one on Mojave, one one Catalina. Both using 24-hour time.

@honcheng Given that the reports about this came in after 20.8, could it have been changes for the Big Sur update for pre

[2020-11-25 07:46] junjie opened #123 "Cell lays out with lots of blank space on first appearance when docked to menu bar icon"
![CleanShot 2020-11-25 at 15 42 23@2x](https://user-images.githubusercontent.com/524420/100197323-24acab00-2f35-11eb-926a-bbe5015cb99f.png)

Dismissing the window then clicking on the menu bar icon to show the window again fixes the problem.

I noticed also that when not running in menu bar only mode, the app launches momentarily with the blank space laid out before reloading to the proper layout.

[2020-11-25 07:56] honcheng commented on #122
@junjie The cache clearing was not working as expected. Likely not due to Big Sur. But it should be fixed in 20.9.

[2020-11-25 07:56] #122 closed, assigned to honcheng

[2020-11-25 08:04] junjie opened #124 "Open at login still does not hide window by default"
Issue is still there.

Due Version 20.8 (6536)
macOS 10.14.6 (18G6032)

_Originally posted by @vitorgalvao in https://github.com/dueapp/Due-macOS/issues/39#issuecomment-726739459_

[2020-11-25 08:04] junjie commented on #124
Seems to be related to entitlements issues. Working on fix again. Sorry about that.

[2020-11-25 10:33] localdavid opened #125 "Request: More timer filters and organizations"
I like to re-use many different timers. I'd like there to be collapsable sections to organize different groups of timers. Also, I'd like a filter so that only active running timers are visible. Thank you.

[2020-11-26 04:28] honcheng commented on #121
Fixed is done, will be out in 20.9

[2020-11-26 04:28] #121 closed, assigned to honcheng

[2020-11-26 04:30] honcheng commented on #119
Yes, it should not have a disclosure triangle. Seems you are in a strange in-between state.
Will need to find ways to reproduce it first.

<img width="284" alt="CleanShot 2020-11-26 at 12 29 48@2x" src="https://user-images.githubusercontent.com/208827/100308342-1d43db00-2fe3-11eb-82ff-ac4f4eac1481.png">

[2020-12-02 08:04] junjie commented on #119
@honcheng: Note you don't have to have the disclosure triangle showing to reproduce the crash. Just click on the the section title will do.

Once you do that and it crashes, the next time you do a search the disclosure triangle will be present for Results section.

[2020-12-02 08:07] junjie commented on #115
Done and slated for 20.9.

[2020-12-02 08:07] #115 closed, assigned to honcheng

[2020-12-03 03:28] honcheng commented on #119
Thanks. The fix will be out in 20.9

[2020-12-03 03:28] #119 closed, assigned to honcheng

[2020-12-03 03:47] honcheng commented on #123
I cannot reproduce this problem with the steps provided. But I did manage to reproduce it another way, and I suspect the bug is the same.

Steps:
1. Launched the app, and resize the window to its minimum width
2. Dock the app to menu bar
3. Detached from menu bar
4. Drag to resize the window

Expected:
Cell heights should change when window size changes because the text fits the width of the windo

[2020-12-03 05:46] honcheng commented on #123
Managed to reproduce the problem reported by @junjie using a specific sample data set. Fixed and will be available in 20.9

[2020-12-03 05:46] #123 closed, assigned to honcheng

[2020-12-03 07:26] junjie commented on #124
Tested and confirmed fixed.

[2020-12-03 07:26] #124 closed, assigned to nobody

[2020-12-04 09:14] junjie commented on #124
@vitorgalvao, can you try 20.9 from the App Store? I hope we finally nailed it this time!

[2020-12-04 15:47] vitorgalvao commented on #124
It works!

Though the solution is unconventional. You’re really opening Due as an hidden app (icon in Dock is transparent, same as <kbd>⌘</kbd><kbd>H</kbd>) as opposed to without any windows (icon is opaque, same as <kbd>⌘</kbd><kbd>W</kbd>).

But I’ll take it! Only did very brief testing and it seems to work well. Thank you for keeping at it. I’m really satisfied with your responses on this issue

[2020-12-07 02:47] junjie commented on #124
Thanks for confirming, and for the patience while we worked through this issue!

[2020-12-17 15:49] NewsGuyTor opened #126 "Add themes that do not use serif fonts"
I'm not a fan of the new design as it currently stands, but thankfully it can be fixed to look good quite easily.

The first issue is likely a bug. Because the grey color of the search box and the grey color of a selected task are quite close, yet noticeably different, it just looks sloppy. They either need to be more different or identical.

Personally I would make the search box a much lighter g

[2020-12-17 16:06] NewsGuyTor opened #127 "Add Critical Alerts"
Please add the option of sending [Critical Alerts](https://developer.apple.com/documentation/usernotifications/unnotificationsettings/2963116-criticalalertsetting) notifications to Due (all platforms). Critical Alerts are notifications that bypass Do Not Disturb and Mute, pretty handy.

Critical Alerts require a special entitlement from Apple, but it should be pretty easy to get since all notifica

[2020-12-17 16:11] NewsGuyTor commented on #127
Perhaps you could mention that users set medication reminders using Due, that may ease approval.

[2020-12-17 16:43] NewsGuyTor commented on #106
Had this issue too, but it was fixed recently.

[2020-12-17 16:50] NewsGuyTor opened #128 "Window unexpectedly resizes when attached to menu bar"
The size of the menu bar window should fit the content. Now it fills up more than half my screen height depite it only having one notification, which looks quite pointless:

<img width="468" alt="2020-12-17 kl  17 47 04" src="https://user-images.githubusercontent.com/19603024/102517302-2a0e9880-4090-11eb-9fc4-5bb07dd96744.png">

[2020-12-17 16:53] NewsGuyTor commented on #109
This bothered me too.

Frankly a lot of this issue stems from the weird default of notifying the user every time the internet goes down. It can be fixed quite easily by disabling the notification in the Due settings.

[2020-12-17 17:52] vitorgalvao commented on #126
Those are different things. Not being a fan doesn’t mean it needs fixing. As a designer, I have no major qualms with the new looks, nor do a bunch of other people.

“Sloppy” is too strong of a word. It’s a minor thing. Though I don’t disagree with making them look stand out more from each other.

It’s a neutral grey, nothing menacing I can feel from it.

That would be a huge bump down in usability

[2020-12-17 19:58] NewsGuyTor commented on #126
What a pedantic response. Would "Improve typography and design for the people who dislike the current theme" really be a better title in your opinion? You don't really have to respond, I'm not interested in a pedantical lingustic debate.

Obviously I'm writing my opinions. And I'm not the only one who would like a new theme that fits more with common macOS interface standards, according to the Mac

[2020-12-17 20:18] jjlharrison commented on #126
I don't see anything pedantic about the response from @vitorgalvao. I certainly agree with not needlessly hiding interface elements, we not exactly talking about an app that is being used on small screens.

Sure, there are improvements that can be made, but there is nothing offensive or particularly broken as far as I can see.

It's an opinionated design, there will always be people that don't lik

[2020-12-17 20:29] NewsGuyTor commented on #126
The whole point of themes is to cater to different tastes.

I also disagree with your point about small screens. My Macbook 12' is 900 pixels heigh, now just one notification takes up more than half the screen height. This is my full screen height.
<img width="419" alt="2020-12-17 kl  21 23 40" src="https://user-images.githubusercontent.com/19603024/102540084-d19ac380-40ae-11eb-820b-c32ea3f36be2.p

[2020-12-17 20:37] vitorgalvao commented on #126
If that’s what you took from my reply, you didn’t understand it. Naturally, I may share the blame for not having been sufficiently clear. In addition, in rereading I do see how my last paragraph in particular can be taken as aggressive or dismissive, but rest assured that wasn’t my intention and I apologise for seemingly having ticked you off—I take no pleasure in annoying people. I strive to read

[2020-12-17 20:53] NewsGuyTor commented on #126
The font is really easy to change, it's only font files that can be found in the application resources. It can't be that hard to change the colors to something neutral either, that's what themes are for. Implementing proper translucency would obviously be harder, but I think it would be worth it :)

I didn't come here to argue in the first place.

[2020-12-19 05:53] rben01 commented on #126
I for one really like the new UI, especially the serif font. Considering how sparsely it's used throughout the UI (just the section headings, right?) It's just the right amount of quirky.

For the search bar, I could see the sidebar between the timers and the logbook being a more appropriate place for it.

[2020-12-21 13:54] junjie opened #129 "Allow "fetching" for syncing as a fallback when background push fails"

[2020-12-21 13:59] junjie opened #130 "Option to disable dates beneath reminder titles to reduce information density"

[2020-12-21 14:08] junjie commented on #128
The size of the window is the size that you have Due adjusted to before docking it to the menu bar.

A user would usually have reminders of differing text length, some long and some short. If the window automatically adjusts its width to fit content, it would unexpectedly resize as a user completes/deletes reminders in the list.

Besides, I'm not aware of any macOS app that resizes itself in this

[2020-12-21 14:14] junjie opened #131 "Support for translucent sidebar"
#126 #10

[2020-12-21 14:15] junjie opened #132 "Option to hide search bar from main window"
For the search bar, I could see the sidebar between the timers and the logbook being a more appropriate place for it.

_Originally posted by @rben01 in https://github.com/dueapp/Due-macOS/issues/126#issuecomment-748424552_

[2020-12-21 14:18] junjie commented on #126
Thanks for the suggestions. Thank you @vitorgalvao @jjlharrison @rben01 for taking time to provide your valuable feedback.

I've split @NewsGuyTor suggestions into 3 issues: #126 #131 and #132, renaming this specifically to address the complaint for serif font.

[2020-12-21 15:26] NewsGuyTor commented on #128
Your first statement isn't correct in my case, my docked menu bar window becomes much bigger than the size the window was before it was docked:

https://streamable.com/yt6mhm

I'm not saying it should update dynamically as soon as it changes anyway, just that the initial size should fit the content that existed when the window was opened. BusyCal for example does it like that.

As you can see now

[2020-12-21 15:29] NewsGuyTor commented on #126
Awesome, but I think it would be best to add a seperate option for type of font, seperate from the theme. That way users can get the combination they like the best between serif, sans-serif, purple, dark mode, neutral etc.

[2020-12-22 07:21] junjie commented on #128
Thanks @NewsGuyTor for the video. The behaviour in your video is not expected and we'll look into it.

[2020-12-23 09:25] junjie opened #133 "Bulk editing of due date not persisted to disk and lost on relaunch in some circumstances"
If there are N reminders with different due dates, where N is more than 1, and you attempt to bulk change the due date of all of them to reflect the due date that is the same as one of the reminder being bulk edited, Due will not persist the changes to disk. Due also fails to animate the changes of such a date change.

[2020-12-29 02:49] junjie opened #134 "Experiment with new postponing behaviour to prevent selection from changing (and list from scrolling)"
Using the postpone by 10 mins/1 hour/1 day menu options (and its keyboard shortcuts) will attempt to preserve the selection so that the user can continue postponing the same item(s) if needed (e.g. Cmd-+ 3 times to postpone by 30 mins).

However this has the effect of scrolling the list, which may not be desirable. At the same time, using the postpone options multiple times in succession is only s

[2020-12-30 03:15] honcheng commented on #133
Found the problem. It's fixed, and will be available in the next update.

[2020-12-30 03:15] #133 closed, assigned to honcheng

[2020-12-31 01:53] honcheng commented on #134
Got it. Same behaviour as bulk editor.

[2020-12-31 01:54] honcheng commented on #134
When there are multiple items selected, where do you propose showing the popover?

[2020-12-31 03:43] junjie commented on #134
I'd try attaching to the first visible cell of the selection?

[2021-01-04 02:28] honcheng commented on #134
Instead of a popover, what if it is displayed inline, using existing date label but formatted differently to indicate transition state. So this can be displayed in all selected rows.

Have not thought this through properly, just throw it out for discussion.

[2021-01-04 02:51] junjie commented on #134
That sounds like another possibility.

Back in Due 1 for iOS, the implementation was similar:

![](https://www.dueapp.com/assets/img/blog/2020/04/due-1-5-quick-panel.png)

The user can tap on the last three buttons any number of times to postpone an item. The postponing would not take effect right away, but after a time-out. The reminder cell would however update to reflect the new due date. After

[2021-01-04 02:53] junjie commented on #134
For the timeout issue, I suspect there may be users who would want the postponing to be immediate, and those who would prefer a longer time-out than what we set.

So I suggest the timeout be read from a preference value where 0 can disable the delay, if that is to be supported in future.

[2021-01-04 04:04] honcheng commented on #134
How about a HUD? Popover's arrow need to point somewhere. Would it be misleading to point to the top most selected row. If HUD, it'll be floating in the center.

[2021-01-04 05:11] junjie opened #135 "Ability to customize/map additional keyboard shortcuts within the app"
Though it is already possible in macOS System Preferences > Keyboard > Shortcuts: https://support.apple.com/guide/mac-help/mchlp2271/mac

[2021-01-04 06:18] junjie commented on #134
HUD sounds possible. The behaviour of how sheets behave in Big Sur feels appropriate? Though I think we shouldn't use sheets since it'd look not too nice on pre-Big Sur Macs

<img width="813" alt="CleanShot 2021-01-04 at 14 17 00@2x" src="https://user-images.githubusercontent.com/524420/103506396-9282b580-4e97-11eb-8c58-80692928608d.png">

[2021-01-04 06:48] honcheng commented on #134
I agree. I’m not thinking of any built-in overlay.
Just a simple translucent view, similar to the holding down CMD key with a
physical keyboard in iPad. What do you think?

On Mon, 4 Jan 2021 at 2:18 PM, Lin Junjie <notifications@github.com> wrote:

[2021-01-04 06:52] junjie commented on #134
I actually think something like the Big Sur sheet design feels more appropriate than a dark translucent overlay.

Reason being that we probably should have two buttons within the sheet. One to cancel, one to postpone immediately (before the time-out). Of course, we can also support such a functionality without displaying the button (Esc to cancel, Return to postpone immediately), though it'd be le

[2021-01-04 07:02] honcheng commented on #134
Oh. Misunderstood you. If we use sheets, once the sheet is displayed, the sheet will be the one monitoring subsequent key strokes. That is fine.

[2021-01-06 02:44] honcheng commented on #128
Managed to reproduce the bug with the help of the video. The fix will be out in the next update. Thanks

[2021-01-06 02:44] #128 closed, assigned to honcheng

[2021-01-13 04:13] #134 closed, assigned to honcheng

[2021-01-17 15:48] h-nn-ng commented on #66
I assume that the basic problems are unlikely to be fixed?

[2021-01-18 03:33] junjie commented on #66
@h-nn-ng We've isolated this problem to High Sierra. Ideally we'd be able to directly compile and run the app off Xcode on High Sierra to troubleshoot the problem. However, Due requires a modern version of Xcode to compile, which doesn't run on High Sierra. This makes troubleshooting the problem difficult. I think there is a good chance we'd deprecate support for High Sierra moving forward.

[2021-01-18 04:08] junjie opened #136 "Include option for "Alert sound" for defaults for new reminder + breaking out appearance into its own preference pane"
The iOS version of Due includes an option as to whether new reminders are created with alert sound:

![IMG_C509C01B3ADB-1](https://user-images.githubusercontent.com/524420/104871126-3b93da80-5985-11eb-90d3-8af4a8a66f4b.jpeg)

However the macOS version does not (only options for default due date and auto snooze):

![CleanShot 2021-01-18 at 12 04 29@2x](https://user-images.githubusercontent.com/5244

[2021-01-28 02:40] junjie opened #137 "App launches in dark mode after booting up in light mode"
I can't seem to reproduce this by just quitting the app while system is in dark mode, then changing system theme before launching the app.

So perhaps it has something to do with shutting down and perhaps the OS restoring the last state.

[2021-01-28 19:59] geeksam opened #138 "Option to disable notifications for sync updates"
I sync Due between my Mac and iPhone, and have the WatchOS app installed as well.  When I add/edit/delete any reminders on the Mac, my wrist buzzes 5-10 seconds later with a notification about the update, and I'm like "YES I KNOW I WAS THERE YOU DON'T HAVE TO TELL ME GAH"

I use Due because I have ADHD, and the iOS reminders were insufficiently annoying to get me to do stuff.  So it feels a bit od

[2021-01-29 03:10] junjie commented on #138
Hi Sam, you can turn that off in settings following the steps here: https://dueapp.zendesk.com/hc/en-us/articles/360035936832-Turn-off-reminders-added-modified-removed-notifications-after-syncing-in-background

[2021-01-29 03:10] #138 closed, assigned to nobody

[2021-01-29 03:59] geeksam commented on #138
I... would not have guessed that that was what that meant.  Thanks for the pointer!

[2021-02-02 07:12] honcheng commented on #137
Managed to reproduce this issue. A fix will be out in the next update.

[2021-02-02 07:12] #137 closed, assigned to honcheng

[2021-02-04 04:48] junjie opened #139 "Using Keyboard Maestro to invoke "Postpone by 10 minutes" etc shortcut crashes app"
This is probably related to the work done in #134. A user attempted to map another shortcut to trigger the postpone by 10 minutes function in Due using keyboard maestro. Doing so always crashes the app. I can reproduce it on my end.

![CleanShot 2021-02-03 at 14 25 18](https://user-images.githubusercontent.com/524420/106845903-da8b3700-66e6-11eb-9b78-4d875f102e61.png)

[2021-02-04 09:46] parhamdoustdar opened #140 "Minimize the Due window to the status menu"
Right now, when I open Due, its window stays around when I press Command-tab. However, I don't need the Due window around at all.

A suggestion that I had is to have the Due window disappear, and show a Due icon in the status menu. If I need the window, I'll call it up with the keyboard shortcut, and if I press the keyboard shortcut again, I'd expect this to disappear into the status menu again.

[2021-02-05 00:26] vitorgalvao opened #141 "Option to make “Only this occurrence” as default [Feature Request for iOS and macOS]"
When I **delay** a recurring reminder, I *never* pick “All Future Occurrences”. When I want to **change** a recurring reminder, I always go the longer router of changing it deliberately (which doesn’t have a confirmation popup).

The confirmation popup becomes annoying because I need to be very careful every time it shows up. Plus, when I **delay** multiple reminders at once (which is regular) I a

[2021-02-05 01:39] honcheng commented on #136
Done. Over to @junjie for the final tweaks.

[2021-02-05 02:36] honcheng commented on #139
The fix for the crash will be out in the next update

[2021-02-05 02:36] #139 closed, assigned to honcheng

[2021-02-08 02:49] vitorgalvao commented on #140
Preferences → General → Show icon in: (Menu Bar Only).

[2021-02-08 04:53] junjie opened #142 "Add confirmation prompt when deleting (recurring) reminders (either by long-swipe gesture or keyboard shortcut)"
There were sporadic reports of recurring reminders going missing on iOS in the past.

It was difficult to track down for sure what had happened to these recurring reminders, given that by the time the user reports this issue we have no idea how long ago these reminders have been removed, but a guess I had was that it was accidentally long-swiped deleted instead of short-swiped marked done.

The sa

[2021-02-08 05:00] junjie commented on #141
I believe this is on macOS, via the editor?

<img width="427" alt="CleanShot 2021-02-08 at 12 56 02@2x" src="https://user-images.githubusercontent.com/524420/107177534-02dba400-6a0d-11eb-8153-652b4816d036.png">

For bulk editing, I believe we don't show the prompt regardless of whether there are recurring reminders involved, and just treat it as "only this occurrence".

For iOS there is actually a

[2021-02-08 05:00] junjie commented on #140
Thanks @vitorgalvao. Hope this helps @parhamdoustdar, please reopen this if not

[2021-02-08 05:00] #140 closed, assigned to nobody

[2021-02-08 09:24] parhamdoustdar commented on #140
Thanks, I had missed that preference. It works! 😍

On Mon, Feb 8, 2021 at 6:01 AM Lin Junjie <notifications@github.com> wrote:

[2021-02-08 22:01] kennethlee opened #143 "Allow customization of date/time representation in main reminder list"
Hey Junjie,

I think it'd be great to have [ISO 8601 date format](https://www.iso.org/iso-8601-date-and-time-format.html) (YYYY-MM-DD) and 24-hour (or "military") time as options.

[2021-02-08 22:34] blackketter commented on #143
Or at least follow the date/time formats in the System Preferences.  I use ISO-8601 in my system, but Due ignores that...

![Screen Shot 2021-02-08 at 2 33 10 PM](https://user-images.githubusercontent.com/131679/107289923-9667a180-6a1a-11eb-95c9-355279b586ec.png)

[2021-02-08 23:56] junjie commented on #143
Hi @kennethlee, which part of Due are you specifically looking at? I'm assuming it's related to natural date parsing and not so much about the display of dates? Parsing of military time has been addressed in an early update (#57 #8), so maybe parsing is not what you're looking at. Let me know more details so I can better understand what you're looking for.

@blackketter: Again I'm not sure which p

[2021-02-09 00:52] blackketter commented on #143
I was referring to the two places that I showed in the screenshot:  The time picker when creating a new reminder shows 2/8/2021 for today, while the reminder list shows Feb. 8.

I prefer ISO time whenever possible and have that set in the System Preferences as shown.

This is in the latest App Store release, 21.0.

[2021-02-09 20:33] kennethlee commented on #143
Hi @junjie,

Thanks for the response.

I was referring to the same two places that @blackketter was pointing to in his screenshot above:

- The date/time picker in the new reminder creation window (2/8/2021 2:32PM), and
- The reminder list (Feb 8, 2:29PM).

[2021-02-10 08:01] junjie commented on #143
1. The date/time picker is a standard macOS control that does not react to user customization: #46
2. As for the reminder list, we use a system API to get a localized representation of short month + day + time when a reminder is within the same year, and short month + day + year + time when the reminder falls outside the current year. I understand that is something you'd like to customize, and I'l

[2021-02-18 00:48] romanrev opened #144 "No reminder text on the extremely bright background when using long touch action on a notification"
It seems to be introduced by the latest App Store update, please have a look at the screenshot
![IMG_2512193D6C58-1](https://user-images.githubusercontent.com/2794589/108287606-2954c880-71df-11eb-964a-603ece7cb4cf.jpeg)

I am on the iOS 14.4, using Dark Theme

[2021-02-18 00:51] junjie commented on #144
@romanrev  This is a known iOS 14 bug. Resolution is available here: https://dueapp.zendesk.com/hc/en-us/articles/360055950791-Notification-snooze-buttons-gone-missing

Also, this page is for macOS issues. For iOS support, visit https://dueapp.zendesk.com/hc/en-us/categories/200306449-Due-for-iOS-watchOS or email support within app Help > Email.

[2021-02-18 00:51] #144 closed, assigned to nobody

[2021-02-18 03:29] junjie opened #145 "Bulk postponing (that exceeds the threshold for undo) freezes the app, then causes the app to quit after the postponing"
Repro video in Slack. Seems to happen when the permanently-modify prompt is triggered, which means we exceeded the threshold for undo.

[2021-02-18 04:40] junjie opened #146 "Support x-callback-url for URL scheme"
https://twitter.com/gabeanzelini/status/1361536862624485376:

[2021-02-19 06:41] junjie opened #147 "High Sierra: Marking a task complete from its notification dismisses all other notification"
I suspect this is probably because the app becomes active on any notification action under High Sierra. We've designed the app to dismiss all notifications when the app becomes active. We may have to disable that on High Sierra if app becoming active is a result of a notification action.

[2021-02-24 12:35] junjie opened #148 "Recently used sounds at the top of sound picker"
This feature is actually available on iOS, but I'd assumed that it's not that difficult to use the keyboard to search for the sound on macOS, hence it was not prioritised.

[2021-02-26 03:00] #136 closed, assigned to junjie

[2021-03-08 07:14] junjie opened #149 "Create reminders with a contact phone number/email/birthday/anniversary"
This is something supported in iOS via CNContactStore.

There are two ways I can think of doing this.

The simpler one would be allowing the user to drop a contact onto Due menubar/app icon to create a reminder, which makes it possible to avoid additional UI and permissions. Currently, dragging and dropping a contact to Due does nothing.

In iOS the user is allowed to choose what kind of reminder

[2021-03-08 08:05] junjie opened #150 "Expand Preferences > Default due date to allow setting a time"
Currently on macOS:

<img width="493" alt="CleanShot 2021-03-08 at 16 04 25@2x" src="https://user-images.githubusercontent.com/524420/110292310-f9535500-8027-11eb-98e9-54df762226d9.png">

On iOS:

![IMG_3103](https://user-images.githubusercontent.com/524420/110292335-007a6300-8028-11eb-86fd-660e09c528a0.PNG)

[2021-03-08 17:15] vitorgalvao commented on #150
I’ve been thinking of this for weeks and was about to open an issue on it. Didn’t know about the option on iOS, and effectively I’d like the same on macOS. I’ve added a 👍 to the top post. Is there another way you’d rather we show “I also want this”?

[2021-03-09 08:13] junjie commented on #150
@vitorgalvao 👍🏼 is fine, though we get notifications when you leave a comment, so I'd say both!

[2021-03-16 23:21] jpmanon opened #151 "Theme not switching automatically with system settings - persistent in dark mode"
Theme does not change with the system and stays in dark mode.

Deactivating / reactivating, closing / opening app, or rebooting Mac does not solve issue.

Running on a Mac mini M1 (Apple Silicon) - macOS Big Sur 11.2.3 (20D91)

[2021-03-17 03:05] junjie commented on #151
Hi I think it's related to #137. If so you can expect a fix in 21.1. Thanks

[2021-03-17 03:05] #151 closed, assigned to nobody

[2021-03-17 20:42] russelldavis opened #152 "Add more customizations for yearly reminders (like the Reminders app)"
It'd be nice if Due supported more customizations for yearly reminders, like Apple's Reminders app has. In particular, the ability to choose first/last weekday/Monday/etc. Due already supports this for monthly events, but it's unintuitive to have to choose monthly and set it for a multiple of 12 months.

Screenshot of how the Reminders app does it:

<img width="226" alt="Screen Shot 2021-03-17 at

[2021-03-23 12:32] huwan opened #153 "Support for time zone settings"
Latest Due app for macOS (v21.0) and iOS (v21.3.8288) still doesn't support timezone-related settings for reminders. This will cause problems when multiple devices (e.g., one Macbook and one iPhone) use different time zones (e.g., Hong Kong time and Tokyo time) and sync reminders via cloud.

For example, assume one macbook use Hong Kong time and one iPhone uses Tokyo time (1 hour ahead of Hong Kon

[2021-03-24 05:14] junjie opened #154 "Due may change space abruptly when docked to menu bar"

[2021-03-24 05:55] junjie commented on #153
Hi! Can you let us know the use case for having multiple devices with different timezones? Understanding the use case can allow us to better plan for how to support such a feature.

[2021-03-24 06:10] honcheng commented on #142
Done. Confirmation prompt will be shown when deleting single recurring reminder in 21.2

[2021-03-24 06:10] #142 closed, assigned to honcheng

[2021-03-24 07:13] junjie opened #155 "Allow reminders to use a custom alert sound without changing the default alert sound"

[2021-03-24 08:17] junjie opened #156 "If Postpone by… is mapped to a keyboard shortcut without modifier key, the postpone overlay never dismiss and the postponing does not get triggered"
Related to #134 again.

For example:

<img width="567" alt="CleanShot 2021-03-24 at 16 15 14@2x" src="https://user-images.githubusercontent.com/524420/112276851-222c4900-8cbc-11eb-8a1d-52b6908dfa49.png">

I believe it is because we're depending on the keyboard shortcut having a modifier key, where releasing the modifier key commits the postponing and dismisses the overlay.

We should prioritise th

[2021-03-25 04:34] junjie opened #157 "Changing the repeat option in custom repeat editor causes custom repeat editor to lose focus"
![Changing Custom Repeat Loses Keyboard Focus-Compressed-0001](https://user-images.githubusercontent.com/524420/112419449-670cba00-8d66-11eb-8e88-7fee669bc32a.png)
![Changing Custom Repeat Loses Keyboard Focus-Compressed-0002](https://user-images.githubusercontent.com/524420/112419453-683de700-8d66-11eb-9aa5-f0caf547c43c.png)

https://user-images.githubusercontent.com/524420/112419471-70962200-8d6

[2021-03-26 03:28] lancerkind commented on #153
I'm not the original poster but I'm seeing timezone issues as well.  Here is the use case: (Due version 21 (6603)on Mac, MacOS 11.2.3, iOS 14.4.1)
I'm in Seattle (PT), I setup a number of reminders.  I get on a plane with my iPhone and Mac and iPad (all using Due) and fly to Houston (CT).  At that point, I'm seeing my reminders seem to have adjusted correctly and some not (Sorry I'm unsure.) so I

[2021-03-29 03:29] honcheng commented on #157
Fixed, will be out in 21.2.

[2021-03-29 03:29] #157 closed, assigned to honcheng

[2021-03-29 05:55] junjie commented on #153
@lancerkind The reminders you set in Due always fire on the wall-clock basis, i.e. a 9am alarm will always fire at 9am in whatever timezone you're in. So that may or may not be your experience. But in any case that is separate from what the original poster is looking for, so if you need more help please email support@dueapp.com thanks!

[2021-03-29 08:13] honcheng commented on #156
I've made it such that without the expected modifier keys, it will use a 0.4s delay to accumulate changes before dismissing the view. Do you think that's sufficient?

[2021-03-29 08:24] huwan commented on #153
@junjie Thank you for your reply. I work with people in a different country and time zone so I need to create events/reminders with certain time zone. To avoid confusion, I changed the system time zone on one of my devices for scheduling meetings. But this will cause the issue I mentioned in the original post.

@lancerkind Thanks for providing new cases regarding timezone issues.

It would be grea

[2021-04-03 13:20] vitorgalvao opened #158 "Option to snooze daily"
There are a few things that I need to do once a month but may take quite a few days to get to. So I’d like to be able to set those reminders to fire daily, but when marked done they should jump to a certain day on the following month.

The most obvious and simplest way to accomplish this seems to be to add an “Every day” auto-snooze option, but I’m open to alternative methods which accomplish the

[2021-04-03 13:24] vitorgalvao opened #159 "“Every hour” on iOS; “Every 1 hour” on macOS"
Really tiny issue; just about consistency.

I’ve noticed that on macOS, the bottom auto-snooze reminder says “Every 1 hour”, while the top one says “Every minute” (not “Every 1 minute”).
<img width="196" src="https://user-images.githubusercontent.com/1699443/113479631-1e50b180-9488-11eb-8c19-2d98e81a6f79.png">

I was going to point out the small inconsistency when I’ve noticed that on iOS it does

[2021-04-07 04:27] #159 closed, assigned to junjie

[2021-04-07 08:35] junjie opened #160 "Support Lavender theme as auto dark theme"

[2021-04-07 08:36] junjie commented on #145
Customer unable to reproduce the bug now.

[2021-04-07 08:36] #145 closed, assigned to honcheng

[2021-04-07 08:41] junjie commented on #153
@huwan thanks for the additional information.

Assuming the Mac is the one that has been switched to another timezone (that you're not currently in) for the purpose of scheduling meetings, I assume you'd like to continue seeing and receiving your reminders as per your phone, which is the current timezone that you're in.

In that case, would a global "Timezone" setting in Due preferences, which ove

[2021-04-07 10:43] huwan commented on #153
Yes, you're right. I hope Due reminders always show up at the same time on all devices.

Adding a global "Timezone" setting in Due preferences will help a lot. By doing so, we don't need to change device’s current time zone. Apart from this, setting individual reminder to use a different time zone may also be required. This way, we can create reminders with certain time zone (like google calendar,

[2021-04-08 02:20] junjie opened #161 "Using Postpone by… in editor with unsaved changes causes changes to be lost (and postpone overlay to be stuck if using keyboard shortcuts to postpone)"
When using the "Postpone by" menu item, or the keyboard shortcut, when editing an existing reminder with unsaved changes leads to unexpected behaviour.

https://user-images.githubusercontent.com/524420/113957679-42c6d800-9852-11eb-9160-24d1af50b075.mp4

I believe this is related to #29, where this pending concern was not addressed:

https://github.com/dueapp/Due-macOS/issues/29#issuecomment-667844

[2021-04-08 04:41] junjie commented on #158
Thanks for the suggestion. Auto-snooze is designed to encourage users to complete/postpone tasks as soon as possible, rather than leaving them overdue. This is meant to prevent the list from becoming stale with lots of overdue items—which I've frequently observed in less persistent todo list/task management apps—and also one of the primary strengths of Due. Adding a one-day option would indeed enc

[2021-04-08 06:02] junjie opened #162 "Offer option to open an URL when marking a reminder with URL complete"

[2021-04-08 06:29] junjie opened #163 "Changing time zone does not reinterpret due dates to maintain the original wall time of the reminder"
A reminder in Due should reflect the same wall-time in any time zone (e.g. a 10am reminder created in Tokyo time zone should also be 10am when the user travels to Singapore).

However the Mac app is not correctly reinterpreting these due dates of reminders when time zone changes, while the iOS app is.

Restarting the Mac app after a timezone change causes the app to correctly reflect the same wall

[2021-04-11 13:27] mrw opened #164 "New "Postpone" overlay should show day of week"
Hello! It would be great if the new "postpone" overlay (screenshot attached) showed the day of the week. I'm often using that to decide when I want to postpone the item to (for example, next weekend). I know "+x days" should let me calculate it, but having the day of week there would make it easier and faster.

Thank you for your consideration!

<img width="985" alt="Screenshot%20on%202021-04-11%2

[2021-04-12 01:24] junjie commented on #164
Thanks @mrw, I think it'd be useful too!

[2021-04-12 01:54] #163 closed, assigned to honcheng

[2021-04-12 02:46] #164 closed, assigned to junjie

[2021-04-12 07:15] junjie opened #165 "Change placeholder text for search text field to match iOS's Search or new reminder"
Although it'd be more consistent and informative, I have concerns about this, especially for languages like German where this string is particularly long. Feels like having that string staring at me all the time is quite distracting.

[2021-04-13 08:02] junjie commented on #161
Related: #37

[2021-04-13 08:23] #160 closed, assigned to honcheng, junjie

[2021-04-14 15:50] vitorgalvao commented on #158
I definitely understand your point. And please, if I suggest a feature you’d rather not implement, please do let me know and feel free to close the issue. You have a vision for the product and shouldn’t be implementing every suggestion.

To give a bit more context, some of my monthly tasks are dependent on someone else—they are reminders of “check if this has been done”. Marking them as complete i

[2021-04-15 03:33] #161 closed, assigned to honcheng

[2021-04-15 15:00] vitorgalvao commented on #165
Does it *have to* say “Search”, even? The magnifying glass on a text box is already conventional for a search box, so it can be somewhat redundant.

One might argue that by writing “Search” (and only that) on that box, users might even think it doesn’t work for adding new reminders on macOS.

Instead of adding more text, a solution might be to remove all the text and add another icon, separating t

[2021-04-15 15:02] vitorgalvao commented on #162
Another vote for this one. This is great to schedule text messages.

[2021-04-16 09:11] junjie commented on #141
@vitorgalvao Re-reading this issue from #158, I have more context about why this problem is an issue for you.

Previously I understood it as an issue with bulk editing, but as mentioned in my [previous comment](https://github.com/dueapp/Due-macOS/issues/141#issuecomment-774866302),  when bulk editing reminders, there is never a prompt for this occurrence/all future occurrence, and recurring remind

[2021-04-16 09:33] junjie commented on #158
Thanks for explaining further. I do have tasks like that from time to time—making sure someone has done something—though they're not usually recurring.

I think we can focus on making it less painful to postpone a recurring task for you in #141, which can probably help you keep it on 1-hour auto snooze if it's easy enough to postpone.

I'll close this for now.

[2021-04-16 09:33] #158 closed, assigned to nobody

[2021-04-21 07:06] junjie commented on #165
Leaving placeholder text blank is another solution. I looked at the convention on Apple's macOS apps and they seemed to all use placeholders, so I guess I've not thought about the possibility of leaving it blank.

<img width="772" alt="CleanShot 2021-04-21 at 15 01 31@2x" src="https://user-images.githubusercontent.com/524420/115510963-e54f7400-a2b2-11eb-89ef-9ea494f6a520.png">
<img width="942" alt

[2021-04-23 07:04] junjie commented on #156
For the information on the overlay to be useful, I think it needs to stay on longer. I've increased delay to 1s, with options to cancel with Escape key and confirm with Return key.

[2021-04-23 07:04] #156 closed, assigned to honcheng

[2021-04-27 08:48] junjie opened #166 "Changing the repeat option of an existing reminder with from-completion setting opens the repeat editor with no controls in focused"

[2021-04-27 08:49] junjie commented on #166
Does not happen when editing an existing reminder with repeat from-due-date option.

[2021-05-04 03:48] honcheng commented on #166
So this bug only happens if the repeat option is weekly. It's fixed now. Will be out in the next update

[2021-05-04 03:48] #166 closed, assigned to honcheng

[2021-05-08 20:08] vitorgalvao commented on #141
I’d be fine with that! iOS in particular can be annoying for these, since they have to be done one at a time (or is there a bulk editing method I’ve missed?)

Apologies on the delay to reply.

[2021-05-08 20:48] vitorgalvao opened #167 "Due ignores trailing punctuation marks on URIs."
**Feel free to close this issue as will. It is informational, not a bug.**

I use Due to schedule messages, by using the `sms:` URI scheme. Example: `sms:+00000000&body=Some%20Encoded%20Text.`. (Small) Trouble is, Due never considers the last period as part of it (note how it’s in black) nor commas and likely others:

<img width="404" src="https://user-images.githubusercontent.com/1699443/11755227

[2021-05-10 08:03] junjie commented on #141
No worries. For iOS, bulk editing is not available yet. However, a horizontal swipe gesture in the editor saves the reminder, and bypasses the prompt entirely:

https://user-images.githubusercontent.com/524420/117625863-1089fc80-b1a9-11eb-958b-ac046a38b7da.mp4

[2021-05-10 08:07] junjie commented on #141
@honcheng For suppression button, I think rather than use the default title of "Do not ask again", we should change the title to reflect something like "Always change only this occurrence".

So when suppression is enabled, we're basically saying that edits to due date of repeating reminders should only apply to the current occurrence in future.

<img width="783" alt="CleanShot 2021-05-10 at 16 03

[2021-05-10 08:44] junjie commented on #167
Thanks for the detailed report @vitorgalvao. You're right that this is the system default behaviour. In this case, the hyperlinking behaviour is built-in to `NSTextView`. You can see the same behaviour in Apple's Notes.app:

![CleanShot 2021-05-10 at 16 37 31@2x](https://user-images.githubusercontent.com/524420/117630686-074f5e80-b1ae-11eb-8c7e-edc33baff2ec.png)

I believe your workaround with amp

[2021-05-10 08:44] #167 closed, assigned to nobody

[2021-05-10 12:10] mrw commented on #114
Hello! I'm not sure if you prefer comments or just 👍 on the original posts, but I'm noting here that this is something I'd love to see fixed also. It impacts me quite a bit when managing the to-dos from my computer. Usually it's when I'm delaying things by a couple of days so want to write something like "Sunday 7am", but the first option in the dropdown becomes "tomorrow 7am."

[2021-05-11 07:25] junjie opened #168 "Postponing a reminder with editor opened should also display the postpone overlay"
Currently when using the postpone by 10 minutes/1 hour/1 day shortcuts when editing a reminder (i.e. the editor is opened for the reminder), it:

1. adds the time inline, if there are unsaved changes made in the editor #161, or
2. immediately closes the editor and postpones the reminder by the amount of time, if there are no changes made in the editor #29

This bug relates to scenario 2.

Because

[2021-05-16 15:24] junjie opened #169 "Relative dates in the reminder cells (e.g. "235w ago") should also use months and years instead of just weeks"
![Image 16-5-21 at 11 21 PM](https://user-images.githubusercontent.com/524420/118402690-9f14e700-b69d-11eb-8adf-3df2b93c07d2.jpg)

[2021-05-21 03:54] honcheng commented on #168
Actually it causes a more severe bug. Subsequent keyboard action actually postpones the wrong reminder because the reminder in the editor is already moved elsewhere. Postpone actions from the 2nd keystroke onwards is passed on to the newly selected reminder.

It should behave as your expected now.

[2021-05-21 04:07] junjie commented on #168
Thanks, let me leave this open and run some tests

[2021-05-24 06:24] #168 closed, assigned to junjie

[2021-06-01 06:32] honcheng commented on #141
This feature should be out in the next update, 21.4

[2021-06-01 06:32] #141 closed, assigned to honcheng

[2021-06-11 03:50] junjie opened #170 "Show/Hide Window shortcut recorder control placeholder text is too long and gets truncated in German"
![CleanShot 2021-06-11 at 11 43 04@2x](https://user-images.githubusercontent.com/524420/121627950-eb8bf080-caaa-11eb-9494-6a8f06bd2d5c.png)

English for comparison:

![CleanShot 2021-06-11 at 11 45 45@2x](https://user-images.githubusercontent.com/524420/121628069-1d9d5280-caab-11eb-855b-af7827396840.png)

@honcheng I think we are using the default localization in the 3rd-party framework?

[2021-06-11 03:54] honcheng commented on #170
Yes

[2021-06-11 04:04] junjie commented on #170
And Japanese too:

![CleanShot 2021-06-11 at 12 04 30@2x](https://user-images.githubusercontent.com/524420/121629174-37d83000-caad-11eb-9311-e245a05da970.png)

[2021-06-11 05:59] honcheng commented on #170
![CleanShot 2021-06-11 at 13 57 50@2x](https://user-images.githubusercontent.com/208827/121638216-2d259700-cabd-11eb-8c6e-32370c8ee2de.png)

[2021-06-11 06:00] honcheng commented on #170
@junjie don't have a shorter string for ja

[2021-06-15 09:07] #120 closed, assigned to junjie

[2021-06-15 22:49] russelldavis opened #171 "Clicking notification results in corrupt duplicate items and missing overdue items"
Quitting and then restarting the app fixes the problem. This has happened to me a bunch of times. Here's what happened on the latest one:

I had multiple notifications from Due. I clicked 'Done' on one of them. Then I clicked the body of the other one which brough the Due app to the foreground. Here's what it showed:

<img width="735" alt="Screen Shot 2021-06-12 at 10 04 41 AM" src="https://user-i

[2021-06-16 01:48] huwan commented on #171
Same issue here. Need to manually restart Due app to fix it.

[2021-06-17 01:25] #170 closed, assigned to nobody

[2021-06-17 06:03] junjie opened #172 "Bottom of cell has no rounded corner when there is 1 overdue reminder"
![CleanShot 2021-06-17 at 14 01 48@2x](https://user-images.githubusercontent.com/524420/122340268-abc67c80-cf74-11eb-88e8-8ab7d56d39e5.png)

[2021-06-17 07:10] #102 closed, assigned to nobody

[2021-06-18 01:47] honcheng commented on #172
This will be fixed in the next update

[2021-06-18 01:47] #172 closed, assigned to honcheng

[2021-06-23 02:55] junjie commented on #171
Thanks @russelldavis and @huwan

I got in touch with @russelldavis to get some logs for diagnosis. Will update when we have more information about this bug.

[2021-06-24 07:27] junjie commented on #171
Good news, @honcheng managed  to track down the issue. We'll be able to include that in the upcoming 21.4 update.

[2021-06-24 07:27] #171 closed, assigned to honcheng

[2021-06-24 14:16] russelldavis commented on #171
Amazing, thank you! 🎉

[2021-06-25 14:37] #150 closed, assigned to nobody

[2021-07-08 03:23] junjie opened #173 "Provide Alfred workflow on FAQ page"

[2021-07-08 03:23] junjie opened #174 "Explore integration with Raycast"
https://github.com/raycast/script-commands

[2021-07-19 03:23] junjie opened #175 "Bring Quick Access Times to Due for macOS"

[2021-07-21 08:13] #169 closed, assigned to junjie

[2021-08-29 13:10] huwan commented on #135
Thanks for sharing the link. I successfully swapped the shortcuts for postpone by 10 minutes and 1 hour.
It would be great if customize shortcuts feature becomes available in app itself.

[2021-08-30 04:52] junjie opened #176 "Absence of colon in date parsing for 24-hour time suggests incorrect results when paired with 'Tomorrow'"

[2021-08-30 04:53] junjie commented on #176
Own findings in English:

<img width="434" alt="CleanShot 2021-08-30 at 12 51 53@2x" src="https://user-images.githubusercontent.com/524420/131286918-5be69767-b0d1-4bf3-b571-128192919a49.png">
<img width="432" alt="CleanShot 2021-08-30 at 12 51 57@2x" src="https://user-images.githubusercontent.com/524420/131286922-194bc02f-0049-4570-b707-5738e0edfae6.png">

[2021-09-10 16:02] junjie commented on #68
https://twitter.com/knejt/status/1435985261616320512:

<img width="415" alt="E-2kuWbWUAIog-h" src="https://user-images.githubusercontent.com/524420/132883240-48a6608b-7b45-4bf1-b3ae-eef6f2606fcc.png">

[2021-09-10 16:03] junjie commented on #5
<img width="414" alt="E-2mZrnWEAQFafb" src="https://user-images.githubusercontent.com/524420/132883383-9a2635b7-4b3c-4db1-834d-26214525bafa.png">

[2021-09-13 03:49] junjie opened #177 "Hiding sidebar should not change window width"
https://user-images.githubusercontent.com/524420/133021101-7d44cf43-308f-453e-bd99-bb8f844e9b26.mp4

See comparison between macOS Reminders and Due. Showing sidebar can expand the window width if needed, but hiding the sidebar should never change the window width.

[2021-09-16 14:36] junjie opened #178 "Add option to hide checkbox in reminder cell in View > Hide Checkbox"
To maximise the space used for reminder content for users who do not need the checkbox

[2021-09-28 15:17] junjie opened #179 "Edit > Copy when selecting multiple reminders should copy the details of multiple reminders into the clipboard"
Currently it does nothing. Only works when one single reminder is selected.

[2021-10-10 08:58] CyberMew commented on #153
I think instead of just a global setting, a per-notification overridable setting would be nice as well, when creating the reminder. After all, all these are just points in time on the same timeline. The reminder alert should fire accordingly to the timeline, assuming the phone is updated to the correct date/time/timezone.

[2021-10-26 03:37] junjie opened #180 "Editor popover arrow colour is translucent and does not match the editor background"
https://user-images.githubusercontent.com/524420/138804797-48d00808-22c3-4c56-a0c9-414b99f870ea.mp4

[2021-10-27 02:02] honcheng commented on #179
This is fixed now. It will be released in the next update

[2021-10-27 02:02] #179 closed, assigned to honcheng

[2021-10-29 02:39] junjie opened #181 "Normalize sound effects and alerts to better match default macOS alert volumes"

[2021-11-05 00:16] vitorgalvao opened #182 "Feature Request: Allow complex dates for default fields"
Due’s natural language processing allows us to set dates with more complexity than in its default fields.

Consider setting a reminder by hand: one can type `<whatever> next friday at 16:00` or `<whatever> tomorrow at 17:00` and Due understands it. Then consider the options for the Default Due Date, Quick Access Times, or Notification Snooze: they’re limited to `At Time` and `From Now`.

That make

[2021-11-06 21:23] vitorgalvao commented on #58
I can’t reproduce this. Due has had a few updates since. Is this still happening to you?

[2021-11-06 21:34] vitorgalvao opened #183 "Do not open main window when invoking with URL handler"
This is the sequence of events when invoking Due with [the URL handler](https://www.dueapp.com/developer.html):

1. Call Due.
2. **The main window** appears.
3. At the same time, a filled editing window appears.
4. `Save` on the editing window.
5. Close **the main window**.

The main window does nothing in this sequence—it’s just an a hindrance to get rid of. Thus, it shouldn’t open at all, just t

[2021-11-07 05:36] FatherOfAlways commented on #58
I can no longer reproduce the issue either. Must have been fixed as a consequence of another change/fix.

[2021-11-07 05:36] #58 closed, assigned to nobody

[2021-11-08 03:56] honcheng commented on #177
There are 2 options. Either keeping the window width constant (like in Reminders), or changing the window width (like in Contacts).

The current behaviour changes the window width. That keeps the content view on the right at constant width. During animation, since the content view on the right isn't resized, the animation looks smoother.

If we opt for the first option, the transition isn't smooth

[2021-11-08 03:56] #177 closed, assigned to honcheng

[2021-11-08 04:02] honcheng commented on #147
Fixed and will be out in 21.5

[2021-11-08 04:02] #147 closed, assigned to honcheng

[2021-11-08 04:02] honcheng commented on #117
Feature is implemented and should be out in the next update 21.5

[2021-11-08 04:02] #117 closed, assigned to honcheng

[2021-11-08 08:19] junjie commented on #114
This is fixed, slated for 21.5

[2021-11-08 08:19] #114 closed, assigned to junjie

[2021-11-09 11:56] junjie commented on #183
Thanks for the suggestion!

[2021-11-12 14:14] augmentedfourth commented on #107
I'm not sure if it's related to this, #106, or something completely new, but I've noticed lately that "Mark Done" tends to work on a "Reminder due" notification, but it doesn't usually work on a "Reminder snoozed" notification. I'm not sure if it's the first auto-snoozed alert that stops working or if it has to have been snoozed some amount of times for the broken behavior to start.

[2021-11-12 14:16] augmentedfourth commented on #107
I'm using a fully up-to-date Big Sur (11.6.1) with Due 21.4. My Upgrade Pass subscription ended on July 29, 2021.

[2021-11-20 15:13] augmentedfourth commented on #107
@junjie ... any thoughts?

[2021-11-22 06:12] honcheng commented on #107
@augmentedfourth the problem you described sounds like a different issue mentioned here. Can you drop us an email at from Due app, via Help > Email? The email will attach some information that may help us to diagnose the problem. Thanks.

[2021-11-22 14:49] junjie commented on #162
Just a note that this is actually possible with a recent update for Notification Snooze. Expanding the notification will highlight links that are clickable.

![CleanShot 2021-11-22 at 22 49 10@2x](https://user-images.githubusercontent.com/524420/142882077-3351d282-95e1-4dec-a1f7-3e0bb0141be9.png)

[2021-11-22 22:15] augmentedfourth commented on #107
@honcheng Sent!

[2021-11-23 01:15] junjie commented on #182
Thanks for your suggestion. So basically, being able to set either the default due date, notification snooze options, and quick access times (on iOS) to a string to be parsed by the natural date parser.

[2021-11-23 02:39] honcheng opened #184 "Add 'Email Support' to the menu when right-click on the app icon in menu bar"
For users using "menu bar only" mode, there is no 'Email Support' menu item because the menu is not visible to them.

[2021-11-23 02:39] honcheng commented on #184
<img width="236" alt="CleanShot 2021-11-23 at 10 37 13@2x" src="https://user-images.githubusercontent.com/208827/142963615-093f8b7f-f54b-4219-9545-6b1f564d5124.png">

[2021-11-23 03:10] #184 closed, assigned to honcheng

[2021-11-23 03:12] honcheng opened #185 "Mark Done does not work on "Reminder snoozed" notification."
I'm not sure if it's related to this, #106, or something completely new, but I've noticed lately that "Mark Done" tends to work on a "Reminder due" notification, but it doesn't usually work on a "Reminder snoozed" notification. I'm not sure if it's the first auto-snoozed alert that stops working or if it has to have been snoozed some amount of times for the broken behavior to start.

_Originally p

[2021-11-23 03:14] honcheng commented on #185
User have "menu bar only" mode turned on. This may or may not be related.

[2021-11-23 03:50] vitorgalvao commented on #182
Exactly.

[2021-11-23 13:22] junjie opened #186 "Auto-complete time in date parsing"

[2021-11-23 13:23] junjie commented on #176
Basically the date parser is not able to tackle <DOW> + military time. It can tackle military time, alone, but not both.

[2021-11-24 02:25] vitorgalvao commented on #162
Good enough for me.

[2021-11-24 03:42] junjie opened #187 "Links in expanded notification not styled according to theme"
_Originally posted by @junjie in https://github.com/dueapp/Due-macOS/issues/162#issuecomment-975604877_

[2021-11-24 03:42] junjie commented on #187
In dark mode, the notification follows the Pure Black color scheme, but the link 'apple.com' is not styled according to Pure Black theme.

<img width="423" alt="CleanShot 2021-11-24 at 11 39 50@2x" src="https://user-images.githubusercontent.com/524420/143170937-fe7ee98e-9646-404d-8bc2-7fa72cf81f99.png">

[2021-11-24 03:48] junjie commented on #162
Let's also work towards adding notification action buttons iOS-style. Somehow notification content extension feels slow to load on macOS. These buttons can probably work better, and address the needs of users who want to mark done & open.

Adding notification actions to:
![CleanShot 2021-11-24 at 11 41 04@2x](https://user-images.githubusercontent.com/524420/143171462-3d189f01-0558-4f64-bcee-a9a806

[2021-11-24 03:51] junjie commented on #187
Light appearance notification content:
<img width="375" alt="CleanShot 2021-11-24 at 11 50 27@2x" src="https://user-images.githubusercontent.com/524420/143171701-361bb105-8c8a-4c2d-916e-4a66d5675163.png">

Vanilla Lilac theme:
<img width="436" alt="CleanShot 2021-11-24 at 11 49 38@2x" src="https://user-images.githubusercontent.com/524420/143171719-02f175b9-c33b-408c-a8ff-975350969c2d.png">

[2021-11-25 06:52] MarcoHdzC opened #188 "Drag - move reminders / auto time change"
Would be useful for some users like me, to simply drag a reminder in the list, up or down, and when this happens, it automatically changes its  time accordingly the place is located. (and maybe add a preference that where you can set when you to this type of drag behavior whats the time amount the reminder will change by default). Very often I don't use due for something to do at a specific time,

[2021-11-25 13:40] junjie commented on #188
Thanks for your suggestion. It's an interesting idea with a challenging implementation.

Let's say you have these items:

[code]

What happens when you drag C between A and B? Should it be 1pm (right in the middle), or closer to 9am, or closer to 5pm?

And so on…

[2021-11-26 03:22] MarcoHdzC commented on #188
Hi!  I imagine if you have a global settings that you can set the behavior
when dragging for example 1 hr jumps, then in your example, C will change
to 4 pm.

Another idea could be to have a global switch on the app, that you can turn
off all the time scheduling and become a to do list for specific dates,
reminders stay organized as they are by they original time scheduling and
users can drag up a

[2021-11-26 03:24] MarcoHdzC commented on #188
Have te ability to also drag reminders  on the mac OS X app would be also
super handy.

On Thu 25 Nov 2021 at 9:22 p.m. Marco Hernández Calvo <
***@***.***> wrote:

[2021-11-29 08:30] junjie commented on #188
Thanks for the additional information, I thought this was for macOS, but looks like you originally meant it for iOS.

Items without due dates can certainly be useful. The focus for Due is on reminders that will always need an alert.

There are many apps out there that specialize in todos where items do not necessary have due dates, and I use them in conjunction with Due.

At this moment I don't ha

[2021-12-01 03:04] honcheng opened #189 "Focus jumps back from hour to year when using tab to move focus while creating new reminders"

[2021-12-01 05:28] #189 closed, assigned to honcheng

[2021-12-01 19:57] goochisan commented on #185
﻿My tasks haven’t been syncing between iOS and macOS since early this morning.

— John

[2021-12-02 02:12] junjie commented on #185
@goochisan Please send an email through Due > Help > Email (on iOS), and Due > Help > Email Support… (macOS) for your issue, thanks.

[2021-12-02 03:35] junjie opened #190 "Keyboard shortcuts to navigate the editor fields efficiently"
![CleanShot 2021-12-02 at 11 28 18@2x](https://user-images.githubusercontent.com/524420/144352887-dd852b62-5711-4f3b-b9a8-bb19c7f9a005.png)

Because of the date control in the editor, using keyboard to tab to Repeat/Auto snooze/Alert fields is quite an arduous process.

I've been thinking we can add keyboard shortcuts for the editor to jump to each field. Currently, I'm thinking we just use ⌘1-4.

[2021-12-02 06:39] MarcoHdzC commented on #188
Hi! I meant the drag behavior for both apps mac and iPhone. Anyways the
drag up and down feature would be amazing for both app!
More intuitive and faster to operate in my opinion.

Best
Marco

On Mon 29 Nov 2021 at 2:30 a.m. Lin Junjie ***@***.***> wrote:

[2021-12-03 07:07] honcheng commented on #185
I'm able to replicate the issue in 21.4. But version 21.6 released shortly after this report already contain a fix for the issue. Closing the issue now.

[2021-12-03 07:07] #185 closed, assigned to honcheng

[2021-12-08 04:30] honcheng commented on #187
We'll start using global accent colour in future updates

[2021-12-08 04:30] #187 closed, assigned to honcheng

[2021-12-08 04:34] junjie opened #191 "What's New screen always show on subsequent launch if dismissed with 'Get Started' button"

[2021-12-08 04:39] #191 closed, assigned to honcheng

[2021-12-08 08:23] #180 closed, assigned to honcheng

[2021-12-10 02:43] honcheng commented on #148
Feature is implemented, and may be out in 21.9

[2021-12-10 02:43] #148 closed, assigned to honcheng

[2021-12-10 02:44] honcheng commented on #131
Feature is already implemented, and may be out in 22.0

[2021-12-10 02:44] #131 closed, assigned to honcheng

[2021-12-10 02:44] honcheng commented on #178
Feature is already implemented, and may be out in 22.0

[2021-12-10 02:44] #178 closed, assigned to honcheng

[2021-12-16 14:47] junjie opened #192 "Press Quick Create hotkey to dismiss Quick Create panel"
@honcheng: I remember we briefly explored whether to support this behaviour, but decided not to?

[2021-12-17 02:43] junjie opened #193 "Keyboard focus lost in editor after responding to this/future occurrence prompt"
https://user-images.githubusercontent.com/524420/146480376-82088996-fb0f-4e5f-8432-67e2635c26e2.mp4

[2021-12-22 03:57] #193 closed, assigned to honcheng

[2021-12-24 02:25] honcheng commented on #192
I don't remember why we dropped it. But I think we can still proceed. So if there are changes, we'll just prompt them before dismissing.

[2021-12-27 04:00] honcheng commented on #183
This issue will be addressed in one the future release that is currently being tested. It will behave differently depending on whether the main window is closed or hidden. The difference is behaviour between closed and hidden is dictated by the OS rather than the app.

- If the app's main window is closed, invoking with URL handler will only bring up the editor.
- If the app's main window is hidde

[2021-12-27 04:00] #183 closed, assigned to honcheng

[2021-12-27 04:40] junjie commented on #192
I'm wondering whether the behaviour of toggling the same hotkey should mean 'Save' or 'Dismiss'. I looked at Things, and it means Save by default. The way you're looking at it (and how I'm thinking about it), we'd do dismiss if the same hotkey is triggered right?

[2021-12-27 07:09] honcheng commented on #192
Yes

[2021-12-28 09:49] junjie commented on #192
I think we can assume Cancel by default, rather than Save.

[2021-12-29 07:06] honcheng commented on #192
Ok. Will be out in 22.0.

[2021-12-29 07:06] #192 closed, assigned to nobody

[2021-12-30 19:21] hey-aw opened #194 "Shortcuts Mac: Running Due action in a workflow causes Shortcuts to stall"
Using the Shortcuts app for Mac, it is desirable to create a workflow that results in a new item in Due.

Unfortunately, combining this action with other actions causes a shortcut flow to stall when run.

Steps to reproduce:

1. Open Shortcuts
2. Create a new shortcut
3. Drag `Add Due Reminder` from the Action Library into the shortcut
4. Add some text in the Item input, such as "New item"
5. Add

[2021-12-30 19:31] hey-aw commented on #194
This issue is not as severe on iOS, as the user gets an alert with the option to return to Shortcuts. However, choosing "Cancel" there has the same effect as above (Shortcuts is stalled on this step of the workflow, even if you return to the Shortcuts manually.)
![IMG_86D4AF98D1B6-1](https://user-images.githubusercontent.com/106216/147782631-03c237fa-d302-46cd-8171-ad76f3c0f6d4.jpeg)

[2022-01-06 02:09] honcheng commented on #194
This issue is related to #146, where support for x-callback-url is not added to Due Mac yet. That's why it does not close the loop in your workflow. We have added support for it, and it will likely be released in the next update.

But at this point, user confirmation (whether to save or cancel) is still required before continuing with the workflow. We have decided that user confirmation is still r

[2022-01-06 02:10] honcheng commented on #146
We've added support for this. It will likely be out in the next update.

[2022-01-06 02:10] #146 closed, assigned to nobody

[2022-01-06 02:13] honcheng opened #195 "Add support for x-callback-url to securely create new reminder without user confirmation"
This issue is related to #146, where support for x-callback-url is not added to Due Mac yet. That's why it does not close the loop in your workflow. We have added support for it, and it will likely be released in the next update.

But at this point, user confirmation (whether to save or cancel) is still required before continuing with the workflow. We have decided that user confirmation is still r

[2022-01-06 03:12] hey-aw commented on #194
Thanks for the update. Nice work!

[2022-01-13 07:58] #194 closed, assigned to honcheng

[2022-01-14 07:00] #10 closed, assigned to junjie

[2022-01-14 07:00] #126 closed, assigned to nobody

[2022-01-19 02:34] vitorgalvao opened #196 "Shortcuts integration fails when not run from inside Shortcuts app"
This has started happening a while back. At first I thought it was caused by an update in Shortcuts, but after several tests it may be Due-related. I’m not sure. [Here’s a dead-simple Workflow](https://github.com/dueapp/Due-macOS/files/7893622/Due.Reminder.shortcut.zip):

<img src=https://user-images.githubusercontent.com/1699443/150052279-3181667f-b011-4c87-90ed-c2f301db9a36.jpeg width=40%>

Inst

[2022-01-22 08:24] junjie opened #197 "Accept 'Enter' key wherever 'Return' key is accepted"
The Return key and Enter key are actually two separate keys.  The key on the numpad is Enter, the key above Shift is Return. They usually perform two different functions https://daringfireball.net/2020/07/return_and_enter

But for many purpose people consider them the same, and we can support using 'Enter' where 'Return' is accepted.

For example:

1. Accepting a date suggestion
2. Saving a remind

[2022-01-22 20:31] BNolet opened #198 "Hide Checkboxes not in Preferences window"
The Hide Checkboxes feature is not accessible to those who have the app set to menu bar only as when the app is set that way, the menu bar menus do not switch to those for Due. This leaves a user wondering where the option is if they didn't pay attention to the screen recording that's shown in the new features modal

[2022-01-23 07:08] junjie commented on #196
Hi @vitorgalvao, are you having trouble with this on iOS or macOS?

There was a related issue related to Shortcuts for macOS #194

I'm not sure if that is related, but we did solve #194 in 22.0.

Also, the 'Add Reminder' shortcut is not actually provided by us, but was built in by Apple, a legacy from the Workflow era. It uses x-callback-url.

On iOS I'd recommend using the Create Reminder or Crea

[2022-01-24 15:32] vitorgalvao commented on #196
Both.

Doesn’t fix this one.

But I use the shortcut on both, and that doesn’t work on macOS. Plus, *I want Due to open* so I can manually choose the date. I was able to make it work by calling `due://`, though it requires ugly workarounds to Shortcut strangenesses. Your comment about the feature I was using having been auto-added by Apple helped.

You can consider this a feature request for a wor

[2022-01-26 02:01] junjie commented on #198
Thanks for highlighting this. I must say we haven't been paying enough attention to making every option accessible to users who are running Due in menu bar only mode.

[2022-01-26 02:09] junjie commented on #196
Thanks Vitor, I'd look into filing a bug report with Apple about this

[2022-01-26 02:09] #196 closed, assigned to nobody

[2022-01-26 13:12] vitorgalvao commented on #196
If you do and post here the details, I’ll make a duplicate (allegedly that makes them prioritise it).

[2022-01-29 23:32] BNolet opened #199 "Shortcut request: Start timer"
Soooooo....macOS doesn't have a timer function (which is beyond me) but I have Due installed! So I have timer support.

The only issue is that the only Shortcut entry for Due on macOS is to add a Due reminder. Would it be possible to add the starting of a timer in there?

Nothing fancy, just "Start a timer" with the variable selection being one of the already saved timers one has put in Due.

[2022-01-29 23:38] BNolet opened #200 "Feature request: temporary timer"
I'd like to be able to use Due to set *temporary* timers. If I want a 45 min timer and I don't have one, then I have to configure a new timer manually, then delete it if it's not something I time often. Something like a checkbox when creating the timer to say "delete when completed" or something, with a tooltip to say that "completed" means the timer is done and it has been silenced.

Edit: eyyy,

[2022-02-06 20:50] BNolet opened #201 "[Feature request] Option to use iOS style date/time picker"
I really like using the date/time picker that's in the Due app for iOS where you have some pre-determined times you can set a task to or set a relative time (like +10 mins, +1 hour, etc).

Would it be possible to have that available for the macOS app as well?

[2022-02-06 20:58] BNolet commented on #198
That's okay :) It's my pleasure! I know the Due app is more complex today than it has ever been (from what I see) and I know that you're a very small team so I think that most people understand!

[2022-02-07 05:00] honcheng commented on #197
Done. Will be out in a future update.

[2022-02-07 05:00] #197 closed, assigned to honcheng

[2022-02-08 04:07] junjie opened #202 "Sidebar button appearance when toggling between vibrancy and no vibrancy"
<img width="53" alt="Screenshot of Due (1-19-22, 1-11-37 PM)" src="https://user-images.githubusercontent.com/524420/152916287-a69f696e-7234-4e5f-8323-6013ffceb936.png">
<img width="56" alt="Screenshot of Due (1-19-22, 1-11-43 PM)" src="https://user-images.githubusercontent.com/524420/152916296-7c7e10af-7462-4f1c-90d1-49eda8d61f21.png">

Credit: Robert B.

[2022-02-08 05:06] junjie opened #203 "Custom… (sound) menu item in Preferences > Notifications > Default alert sounds should not have a preview play button"
![CleanShot 2022-02-08 at 13 01 23@2x](https://user-images.githubusercontent.com/524420/152921717-c8f3646f-04e8-4fcf-b6ef-b42b21b0f67a.png)

[2022-02-08 13:30] junjie commented on #201
Merged with #175

[2022-02-08 13:30] #201 closed, assigned to nobody

[2022-02-09 03:03] #203 closed, assigned to honcheng

[2022-02-09 04:05] #202 closed, assigned to honcheng

[2022-02-09 04:08] junjie opened #204 "Parsing "today 6.00" should try 6pm if 6am is already overdue"

[2022-02-24 16:41] vitorgalvao opened #205 "Feature Request: Bring “Mark Done and Open Link” to macOS"
Title pretty much covers it.

If it is not possible to add the extra option to the notification, another solution would be to have a new setting that when on would by default open links in reminders when marking done from the notification.

[2022-02-28 04:52] junjie commented on #205
Thanks, offering both options would bring feature parity with iOS:

![OpenLinkFromNotifications-0001](https://user-images.githubusercontent.com/524420/155926093-4d945e97-be8c-4f6b-82f3-63b297f0ff06.png)

As a side note, both options are offered instead of offering just one behaviour, after a poll here: https://twitter.com/dueapp/status/1390615375549632519

[2022-04-12 10:08] junjie opened #206 "Mark done (Cmd-D) should be disabled when editor has unsaved changes"
Was editing a recurring reminder. Forgot that I edited the title. Pressed Cmd-D with the editor still opened. The reminder was marked done, but the editor presented this modal dialog:

<img width="267" alt="CleanShot 2022-04-12 at 18 04 49@2x" src="https://user-images.githubusercontent.com/524420/162935900-a2d0b7f1-3304-4732-bd94-61807aad6745.png">

Even more troublesome at this point, if I press

[2022-04-12 10:09] junjie commented on #206
If I press 'Save', then basically the marked done reminder gets reverted as if it was not marked done. That is acceptable.

[2022-04-20 11:10] oskarnp opened #207 "Repeated reminders not added to Log/Logbook"
Almost all reminders I use in Due are repeated reminders so it was very unfortunate to discover that none of them had been added to Logbook on completion. Same on both iOS and macOS.

[2022-04-21 05:28] junjie commented on #207
This is in the list of things we'd like to get to. Thank you for your feedback.

[2022-04-27 04:07] #206 closed, assigned to honcheng

[2022-04-28 10:15] junjie opened #208 "Support the /search path for due:// URL scheme"
https://www.dueapp.com/developer.html#search_overview

[2022-05-12 04:43] #208 closed, assigned to honcheng

[2022-06-14 08:30] junjie opened #209 "Show countdown timer on dock icon/menu bar badge"
有一个关于due Mac版的小建议：希望能在menu bar或者dock栏直接看到计时器，这些会更加方便看到倒数时间，非常有助于提高工作效率，希望你能考虑，谢谢！🙏

This is a small suggestion for due on mac: I hope to see the timer directly in the menu bar or dock bar, these will make it easier to see the countdown time, which is very helpful to improve work efficiency, I hope you can consider it, thank you! 🙏

[2022-07-04 09:59] NewsGuyTor commented on #143
Any updates? This is so damn annoying, I schedule tasks months in advance by accident all the time.

[2022-07-04 10:57] sambody opened #210 "Allow drag and drop of url into Due on Mac to create new Reminder"
Feature request: to allow dragging and dropping a url from a browser (Firefox in my case) onto the Due window, which automaticallly creates a new Reminder AND adds the url as a clickable link. It makes it more easy to create a reminder with a url.

Right now, I have to create a new Reminder and then copy paste the url into it.

The default Mac Reminders app has this drag and drop feature, and I mi

[2022-07-05 06:43] junjie commented on #143
@NewsGuyTor If you're saying you schedule tasks at an incorrect date, it sounds like you're referring to the date/time picker? This as mentioned above is not something we can fix because the date/time picker control doesn't offer customisation. Also https://github.com/dueapp/Due-macOS/issues/46

If you're saying customising the display of the date/time *after* the reminder has been created, I don'

[2022-08-10 01:40] junjie opened #211 "Snooze everything at once from notification"

[2022-08-23 12:38] gitstua commented on #108
This has been done so can be closed 🎉

[2022-08-24 01:24] #108 closed, assigned to nobody

[2022-08-26 09:46] junjie opened #212 "Clicking on a notification with active search result should dismiss the search result and open up the reminder"
Else it's easy to end up acting on the wrong reminder thinking the one I just clicked on has been highlighted

[2022-08-29 06:11] #212 closed, assigned to honcheng

[2022-08-29 06:21] honcheng commented on #210
@sambody the feature to create a reminder by dragging text/link to Due has already been available since 2020. I tested with Firefox just in case, and it works too (as well as with other browsers).

Do you not see a + green button when you drag the link on top of Due?

[2022-08-29 09:25] sambody commented on #210
I have tested again, and now it works. Not sure why it didn't work the first time. I cannot reproduce it.
So this can be closed.
Thanks.

[2022-08-29 13:20] #210 closed, assigned to honcheng

[2022-09-05 08:13] #175 closed, assigned to nobody

[2022-09-06 01:30] junjie opened #213 "Incorrect layout for Quick Access Times buttons when "Show scroll bars: Always""
When you have the “Show scroll bars: Always” option enabled on the Mac, the fourth column of options gets cut off:

![CleanShot 2022-09-05 at 21 01 09@2x](https://user-images.githubusercontent.com/524420/188528001-0bad1425-aaff-4369-98a4-f2da2265963d.jpg)

Credit: Julian T.

[2022-09-06 01:43] junjie commented on #213
![CleanShot 2022-09-06 at 09 43 04@2x](https://user-images.githubusercontent.com/524420/188529413-879d6bf8-46ef-4777-bcc7-ac1756571837.png)

@honcheng Notification extension is affected too

[2022-09-06 02:00] #213 closed, assigned to honcheng

[2022-09-08 03:31] junjie opened #214 "QAT brought up with right-click > Postpone… when Due is inactive behaves strangely"
When Due is inactive, you can bring up the Quick Access Times for an item, but it does not have focus. Keyboard interaction does not work. Even mouse click does not immediately work until Due first gets focused. Also, the QAT does not get dismissed even as Due gets focused and you interact with other parts of it.

[2022-09-08 03:31] junjie commented on #214
Credit: Adam F.

[2022-09-08 03:46] junjie opened #215 "QAT: Clicking outside the QAT, should it save? Should it prompt if there are unsaved changes?"
There is a feature request to save automatically when clicking outside the QAT, not just on the Save button.

Re: the right-click suggestion, I don't think we should replace the context menu with QAT. Double-clicking is already an option to bring up the QAT, and right-clicking allows user to reach functions that QAT does not offer.

Re: the save when clicking outside the QAT, I realised that we tr

[2022-09-08 03:49] junjie opened #216 "Using the context menu to “Postpone by 10 Minutes”, 1 hour or 1 day does not immediately postpone the reminder"
https://twitter.com/spoolinx86/status/1567597871100215300

Credit: @SpoolinX86

[2022-09-08 03:49] #216 closed, assigned to honcheng

[2022-09-08 06:01] #214 closed, assigned to honcheng

[2022-09-09 06:57] #215 closed, assigned to honcheng

[2022-09-21 00:44] clindsay3 opened #217 "Quick Access Times should not be presented when double-clicking on a search-to-create reminder"
Typing "Call dead river and tell them that oct 13 works" gives me two options, one that uses oct 13 as the date, the other that leaves it in the reminder. Great.

However, double clicking on the option that leaves it in the reminder presents a quick access time prompt that uses Oct 13 as the date, which is not what I expected. Feels like a bug.

https://user-images.githubusercontent.com/227043/191

[2022-09-21 00:46] junjie commented on #217
How embarrassing, thanks @chrisvasselli for highlighting this bug with a clear video! We'll get to fixing it.

[2022-09-21 17:28] russelldavis opened #218 "Sync fails when a new version of the app is pending"
Whenever a new version of the app has been installed (via auto update from the app store), but is not yet running (because the old version is still running and hasn't yet been restarted), syncing stops working. It's like clockwork -- I always know when a new version is out because my phone is suddenly out of sync with the app :)

Quitting the app and then restarting it (which starts up the new ver

[2022-09-23 02:26] junjie opened #219 "List sometimes becomes unresponsive to mouse clicks after opening Quick Access Times from double-click when docked to menu bar icon"
1. Double-click on a reminder with a link
2. Click on title to open editor from Quick Access Times
3. Click on the link in the editor to open the link in browser
4. Click on Due for it to get focus. Click another time or Esc to dismiss editor
5. Double-click on another reminder
6. Attempt to click on the main list to dismiss Quick Access Times

[2022-09-23 02:29] junjie commented on #218
Thanks for reporting this @russelldavis

I'm not sure what mechanism would trigger such a behaviour. It sounded like Due failed to upload changes on your Mac. When this happen next time, can you choose to email us from within Due > Help > Email support.

This would give us some diagnostic logs to work with especially if sync has failed before this.

Then proceed to perform another sync. You can do

[2022-09-29 01:53] #219 closed, assigned to honcheng

[2022-09-29 01:54] #217 closed, assigned to honcheng

[2022-10-03 16:55] ggwicz opened #220 "Feature Request: Ability to Sort Timers by Title"
It'd be great to have more control over the way items are sorted in _Due_.

I'd personally get the most out of the ability to **sort timers by their title**, so here's a specific feature request for that.

**Current:**

- Timers are sorted by length of time, ascending. You cannot change this.

**Proposed:**

- You could **sort timers by their title.**
- Bonus: You could choose an ascending or desc

[2022-10-04 03:39] junjie commented on #220
Thanks for the suggestion!

[2022-10-08 07:01] junjie opened #221 "Wrong item being postponed in Quick Access Times"

[2022-10-08 07:02] junjie commented on #221
Credit: Adam F.

[2022-10-10 03:38] honcheng commented on #221
Thanks. We've found the problem. A fix will be included in the next update.

[2022-10-10 03:38] #221 closed, assigned to honcheng

[2022-10-10 03:38] junjie commented on #218
Hi @russelldavis are you using Dropbox sync?

[2022-10-10 17:04] russelldavis commented on #218
I used Dropbox sync a long time ago, but I've been using iCloud sync for a while now.

[2022-10-10 17:07] russelldavis commented on #218
I didn't notice the issue with the latest update to the app (22.7). Usually I have to restart the app manually before I see the new version. This time I'm pretty sure the app restarted on its own.

[2022-10-17 13:47] junjie opened #222 "Show next reminder in the menu bar"
![image](https://user-images.githubusercontent.com/524420/196193793-937cacf1-d3a4-4977-9834-050f6b3599b0.png)

[2022-10-27 05:37] russelldavis commented on #218
This issue is happening again due to today's release. I sent some emails to support as instructed.

[2022-11-02 02:32] huwan opened #223 "Missing preset times when clicking on a notification"
When clicking on a notification (>), no preset times are shown.

<img width="350" alt="Jietu20221102-101236" src="https://user-images.githubusercontent.com/1451009/199379194-68f73b85-5072-4e65-9dd0-6a1efc270a93.png">

![Jietu20221102-094931](https://user-images.githubusercontent.com/1451009/199378299-df8193a7-03c3-4ed1-85d2-3feba0817a9b.png)

Other info:
- macOS version: macOS Ventura 13.0 (22A380

[2022-11-02 03:31] junjie commented on #223
Thanks @huwan, we're working on this

[2022-11-07 04:49] junjie opened #224 "Attach to Menu Bar intermittently fails when in Logbook view"
Reported by: Malik F.

[2022-11-07 04:53] junjie commented on #223
This bug has been fixed in 22.9, which we're submitting to the App Store for review now.

[2022-11-08 01:13] junjie commented on #223
@huwan can you [update to 22.9](https://www.dueapp.com/downloadformac/) from the App Store manually to see if the problem is fixed?

[2022-11-08 01:22] junjie commented on #224
User reported unable to reproduce the bug, so may not be linked to viewing logbook. Closing for now

[2022-11-08 01:22] #224 closed, assigned to honcheng

[2022-11-08 03:22] huwan commented on #223
It works for me. Thank you!

[2022-11-09 08:37] huwan commented on #223
@junjie Hi! This feature is still buggy.

I use iMac with two external displays. The notification only works fine for the main display (iMac). For both external displays, still no preset times displayed.

[2022-11-09 13:14] junjie commented on #223
Thanks for reporting this, we'll investigate further

[2022-11-14 03:54] russelldavis commented on #218
It happened again today with the new 22.9 release

[2022-11-14 03:55] junjie commented on #218
@russelldavis you've restarted i assumed? if not can you try something for me? cmd-click on Due on the dock and find the path of the executable?

[2022-11-14 18:55] russelldavis commented on #218
Yeah, I already restarted.